<template>
    <div class="page-table scrollable">

        <div class="table-box card-base card-shadow--medium">
            <el-table :data="articles" max-height="500" style="width: 100%" v-loading="loadingArticles">
                <el-table-column
                        label="Photo"
                        width="100">
                    <template slot-scope="scope">
                        <img :src="scope.row.imgUrl.split('/').slice(0, -1).join('/') + '/small_' + scope.row.imgUrl.split('\\').pop().split('/').pop()"
                             @click="handleEdit(scope.row)"
                             style="width: 100px;">
                    </template>
                </el-table-column>
                <el-table-column
                        prop="title"
                        label="Title"
                        sortable
                        width="300"></el-table-column>
                <el-table-column
                        prop="type"
                        label="Type"
                        sortable
                        width="300">
                    <template slot-scope="scope">
                        <p>{{ types[scope.row.type].name }}</p>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="created_at"
                        label="Created date"
                        sortable
                        minWidth="200"></el-table-column>
                <el-table-column
                        label="Published date"
                        prop="published_at"
                        sortable
                        width="200"
                        fixed="right">
                </el-table-column>

                <el-table-column
                        label="Actions"
                        width="300"
                        fixed="right">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                @click="handleEdit(scope.row)">Edit
                        </el-button>
                        <el-button
                                size="mini"
                                @click="handleEditComments(scope.row)">
                            Comments
                            <span v-if="scope.row.comments.length" class="el-badge__content">{{ scope.row.comments.length }}</span>
                        </el-button>

                        <el-button
                                size="mini"
                                type="danger"
                                @click="handleDelete(scope.row)">Delete
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <el-button class="mt-10" type="primary" icon="el-icon-plus" @click="handleCreate">Add article</el-button>

        <div class="block mt-20">
            <el-pagination
                    @size-change="handleSizePageChange"
                    @current-change="handlePageChange"
                    :current-page.sync="pagination.currentPage"
                    :page-sizes="pagination.pageSizes"
                    :page-size="pagination.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="pagination.total">
            </el-pagination>
        </div>

        <!-- Form -->
        <el-dialog :fullscreen="true" v-loading="loadingArticles" :title="action === 'edit' ? 'Edit' : 'Create'"
                   :visible.sync="dialogVisible">
            <el-form :model="article">
                <el-tabs tab-position="top" ref="ArticleEditTabs">
                    <el-tab-pane label="common" style="display: grid;" name="common">
                        <el-form-item label="Type" :label-width="'120px'">
                            <el-select v-model="article.type" clearable filterable>
                                <el-option v-for="type in this.types" :key="type.id" :label="type.name"
                                           :value="type.id"></el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item label="Category" :label-width="'120px'">
                            <el-select v-model="article.category_id">
                                <el-option v-for="category in this.categories" :key="category.id" :label="category.name"
                                           :value="category.id"></el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item label="Alias" :label-width="'120px'">
                            <el-input v-model="article.alias" auto-complete="off"
                                      placeholder="part of url address"></el-input>
                        </el-form-item>
                        <!-- <el-form-item label="Meta title" :label-width="'120px'">
                            <el-input v-model="article.meta_title" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="Meta description" :label-width="'120px'">
                            <el-input v-model="article.meta_description" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="Meta keywords" :label-width="'120px'">
                            <el-input v-model="article.meta_keywords" auto-complete="off"></el-input>
                        </el-form-item> -->

                        <el-form-item label="Image" :label-width="'120px'">
                            <el-upload
                                    list-type="picture"
                                    action=""
                                    :file-list="imgList"
                                    ref="upload"
                                    :auto-upload="false"
                                    :on-change="handleChangeImg"
                                    :on-remove="handleRemoveImg">
                                <el-button size="small" type="primary">Click to upload</el-button>
                                <div slot="tip" class="el-upload__tip">jpg/png files with a size less than
                                    2000kb
                                </div>
                            </el-upload>
                        </el-form-item>
                        <el-form-item v-if="article.created_at"
                                      class="mb-0"
                                      label="Created date"
                                      :label-width="'120px'">{{article.created_at}}
                        </el-form-item>
                        <el-form-item label="Published date" :label-width="'120px'">
                            <el-date-picker
                                    v-model="article.published_at"
                                    type="date"
                                    value-format="yyyy-MM-dd">
                            </el-date-picker>
                        </el-form-item>
                    </el-tab-pane>

                    <el-tab-pane v-for="lang in article.languages"
                                 :name="lang.name"
                                 :key="lang.id">
                    <span slot="label">
                        <i :class="'flag-icon mr-5 flag-icon-'+(lang.locale === 'en' ? 'us' : lang.locale)"></i>
                        {{lang.name}}
                    </span>
                        <el-form-item label="Title" :label-width="'120px'">
                            <el-input v-model="lang.pivot.title" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="Desc" :label-width="'120px'">
                            <el-input type="textarea" v-model="lang.pivot.desc" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="Image Alt" :label-width="'120px'">
                            <el-input type="textarea" v-model="lang.pivot.img_alt" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="Tags" :label-width="'120px'">
                            <el-input type="textarea" v-model="lang.pivot.tag" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="Content" :label-width="'120px'">
                            <textarea name="ck" :id="'ck-' + lang.name" v-model="lang.pivot.content" cols="30"
                                      rows="30"></textarea>
                        </el-form-item>
                    </el-tab-pane>
                    <el-tab-pane name="related"
                                 v-loading="loadingArticles"
                                 key="related">
                        <span slot="label">related</span>
                        <el-checkbox-group v-model="relatedList">
                            <div v-for="item in articlesAll" :key="item.id">
                                <el-checkbox :label="item.id">
                                    <img :src="item.imgUrl"
                                         style="width: 200px;">
                                    <span class="ml-10 fs-18">{{ item.title }}</span>
                                </el-checkbox>
                            </div>
                        </el-checkbox-group>
                    </el-tab-pane>
                </el-tabs>
            </el-form>
            <span slot="footer" class="dialog-footer ml-auto">
                        <el-button @click="dialogVisible = false">Cancel</el-button>
                        <el-button type="primary" @click="saveArticle">Confirm</el-button>
                    </span>
        </el-dialog>

        <el-dialog :fullscreen="true" v-loading="loadingArticles" title="Comments"
                   :visible.sync="dialogCommentsVisible">
            <el-form :model="article">
                <el-table :data="article.comments" max-height="500" style="width: 100%" v-loading="loadingArticles">
                    <el-table-column
                            prop="user_name"
                            label="User name"
                            sortable
                            width="200"></el-table-column>
                    <el-table-column
                            prop="email"
                            label="Email"
                            sortable
                            width="200"></el-table-column>
                    <el-table-column
                            prop="text"
                            label="Content"
                            sortable
                            minWidth="600"></el-table-column>
                    <el-table-column
                            prop="created_at"
                            label="Created date"
                            sortable
                            width="200"></el-table-column>

                    <el-table-column
                            label="Published date"
                            sortable
                            width="200"
                            fixed="right">
                        <template slot-scope="scope">
                            <el-button
                                    v-if="!scope.row.published_at"
                                    size="mini"
                                    type="success"
                                    @click="publishComment(scope.row)">Publish
                            </el-button>
                            <span v-else>{{ scope.row.published_at }}</span>
                        </template>
                    </el-table-column>

                    <el-table-column
                            label="Actions"
                            width="90"
                            fixed="right">
                        <template slot-scope="scope">

                            <el-button
                                    size="mini"
                                    type="danger"
                                    @click="handleDeleteComment(scope.row)">Delete
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-form>
        </el-dialog>

    </div>
</template>

<script>
    import {api} from '@/api'

    export default {
        name: "Articles",
        data() {
            return {
                articles: [],
                articlesAll: [],
                languages: [],
                categories: [],
                article: {},
                dialogVisible: false,
                dialogCommentsVisible: false,
                loadingArticles: false,
                loadingPossibleRelatedArticles: false,
                action: 'edit',
                type: 1,
                types: {
                    1: {
                        id: 1,
                        name: 'News'
                    },
                    2: {
                        id: 2,
                        name: 'Blog'
                    }
                },
                pagination: {
                    currentPage: 1,
                    total: null,
                    pageSize: 20,
                    pageSizes: [10, 20, 50, 100],
                },
                imgList: [{name: '', url: ''}],
                img: null,
                imgName: '',

                relatedList: []
            }
        },
        computed: {
            loading() {
                return this.$store.getters.loading
            }
        },
        watch: {},
        methods: {
            initCKE(languages) {
                languages.map(i => {
                    if (CKEDITOR.instances['ck-' + i.name]) {
                        CKEDITOR.instances['ck-' + i.name].destroy()
                    }
                    CKEDITOR.replace('ck-' + i.name)
                    CKEDITOR.instances['ck-' + i.name].setData(i.pivot.content)
                })
            },
            handleEdit(article) {
                this.article = null;
                this.article = _.clone(article)

                this.$nextTick(function () {
                    this.$refs.ArticleEditTabs.setCurrentName('common')
                    this.initCKE(this.article.languages)
                })


                this.img = null
                this.imgList = [{
                    name: article.img,
                    url: article.imgUrl,
                }]
                this.imgName = article.img
                this.action = 'edit'

                this.getPossibleRelatedArticles(this.article.id).then(res => {
                    this.articlesAll = res
                })
                this.relatedList = this.article.related.map(j => {
                    return j.id
                })

                this.$nextTick(function () {
                    this.$refs.ArticleEditTabs.setCurrentName('common')
                    this.initCKE(this.article.languages)
                })

                this.dialogVisible = true
            },
            handleEditComments(article) {
                this.article = _.clone(article)
                this.dialogCommentsVisible = true
            },
            handleCreate() {
                this.getPossibleRelatedArticles().then(res => {
                    this.articlesAll = res
                })
                this.article = {languages: this.languages}
                this.$nextTick(function () {
                    this.$refs.ArticleEditTabs.setCurrentName('common')
                    this.initCKE(this.article.languages)
                })
                this.relatedList = []
                this.img = null
                this.imgName = ''
                this.imgList = []
                this.action = 'create'
                this.dialogVisible = true
            },
            handleDelete(article) {
                this.$confirm('This will permanently delete. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning',
                    center: true
                }).then(() => {
                    this.deleteArticle(article)
                })
            },
            deleteArticle(article) {
                api.post('articles/delete', {
                    id: article.id,
                }).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });
                    if (response.data.status === 'success')
                        this.articles = this.articles.filter(item => item.id !== article.id)
                })
            },
            saveArticle() {
                if (!this.imgName) {
                    this.$message.warning('Please, select image.');
                    return
                }
                this.$store.commit('setLoading', true)
                this.article.languages.map(i => {
                    i.pivot.content = ''
                    if (CKEDITOR.instances['ck-' + i.name]) {
                        i.pivot.content = CKEDITOR.instances['ck-' + i.name].getData()
                    }
                })
                let data = new FormData();
                if (this.img) {
                    data.append('img', this.img);
                }
                data.append('imgName', this.imgName);
                data.append('type', this.article.type);
                data.append('alias', this.article.alias ? this.article.alias : '');
                data.append('meta_title', this.article.meta_title ? this.article.meta_title : 'NA');
                data.append('meta_description', this.article.meta_description ? this.article.meta_description : 'NA');
                data.append('meta_keywords', this.article.meta_keywords ? this.article.meta_keywords : 'NA');

                if (this.article.category_id) {
                    data.append('category_id', this.article.category_id)
                }

                data.append('published_at', this.article.published_at ? this.article.published_at : '');
                data.append('id', this.article.id ? this.article.id : '');
                data.append('languages', JSON.stringify(this.article.languages));
                data.append('relatedIds', JSON.stringify(this.relatedList));
                api.post('articles/save', data).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });

                    this.$store.commit('setLoading', false)
                    if (response.data.status === 'success') {
                        // this.article = null
                        this.getArticles()
                        this.dialogVisible = false
                    }

                })
            },
            // publish(article) {
            //     this.$store.commit('setLoading', true)
            //     api.post('articles/publish', {id: article.id}).then(response => {
            //         this.$message({
            //             showClose: true,
            //             message: response.data.message,
            //             type: response.data.status
            //         });
            //
            //         this.$store.commit('setLoading', false)
            //         if (response.data.status === 'success') {
            //             article.published_at = response.data.published_at
            //         }
            //     })
            // },
            getArticles() {
                this.loadingArticles = true
                api.post('articles', {
                    take: this.pagination.pageSize,
                    skip: this.pagination.pageSize * (this.pagination.currentPage - 1),
                }).then(response => {
                    this.articles = response.data.articles
                    this.pagination.total = response.data.total
                    this.loadingArticles = false
                })
            },
            getPossibleRelatedArticles(id = null) {
                return new Promise(resolve => {
                    this.loadingPossibleRelatedArticles = true
                    api.post('articles/getPossibleRelatedArticles', {id}).then(response => {
                        this.loadingPossibleRelatedArticles = false
                        resolve(response.data.items)
                    })
                });
            },
            getLanguages() {
                api.post('articles/languages').then(response => {
                    this.languages = response.data;
                })
            },
            getCategories() {
                api.post('articleCategory').then(response => {
                    this.categories = response.data.categories;
                })
            },
            handleSizePageChange(val) {
                this.pagination.pageSize = val
                this.getArticles()
            },
            handlePageChange(val) {
                this.pagination.currentPage = val
                this.getArticles()
            },
            handleChangeImg(file) {
                let f = file.raw
                const isImage = f.type === 'image/jpeg' || f.type === 'image/png';
                const isLt2M = f.size / 1024 / 1024 < 2;

                if (!isImage) {
                    this.$message.error('Image must be JPG or PNG format!');
                }
                if (!isLt2M) {
                    this.$message.error('Image size can not exceed 2MB!');
                }
                if (isImage && isLt2M) {
                    this.img = f
                    this.imgName = f.name
                    if (this.$refs.upload.uploadFiles.length > 1)
                        this.$refs.upload.uploadFiles.shift()
                } else {
                    this.$refs.upload.uploadFiles.pop()
                }

            },
            handleRemoveImg() {
                this.$refs.upload.clearFiles()
                this.imgName = ''
                this.img = null
            },

            publishComment(comment) {
                this.$store.commit('setLoading', true)
                api.post('articles/publishComment', {id: comment.id}).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });

                    this.$store.commit('setLoading', false)
                    if (response.data.status === 'success') {
                        comment.published_at = response.data.published_at
                    }
                })
            },
            handleDeleteComment(comment) {
                this.$confirm('This will permanently delete. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning',
                    center: true
                }).then(() => {
                    this.deleteComment(comment)
                })
            },
            deleteComment(comment) {
                api.post('articles/deleteComment', {
                    id: comment.id,
                }).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });
                    if (response.data.status === 'success') {
                        let comments = this.article.comments.filter(item => item.id !== comment.id)
                        this.articles.filter(item => item.id === this.article.id)[0].comments = comments
                        this.article.comments = comments
                    }
                })
            },
        },

        created() {
            if (window.innerWidth <= 768)
                this.isMobile = true
        },
        mounted() {
            //ie fix
            if (!window.Number.parseInt) window.Number.parseInt = parseInt
            this.getArticles()
            this.getLanguages()
            this.getCategories()
        }
    }
</script>

<style lang="scss" scoped>
    @import '../assets/scss/_variables';

    .table-box {
        overflow: auto;
    }
</style>
