<template>
    <vue-scroll class="page-dashboard">
        <div>
            <resize-observer @notify="__resizeHanlder"/>
            <h1>Dashboard page</h1>

        </div>
    </vue-scroll>
</template>

<script>
    import echarts from 'echarts'
    import Datamap from 'datamaps'
    import {api} from '@/api'

    var map = {}
    const now = new Date();
    export default {
        name: 'Dashboard',
        data() {
            return {
                asyncComponent: 'peity',
                resized: false,
                pickerOptions: {
                    shortcuts: [{
                        text: 'Last week',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: 'Last month',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: 'Last 3 months',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                date: [new Date(now.getTime() - 3600 * 1000 * 24 * 7), new Date()],
                countries: [],
                loading: {
                    charts: true,
                    map: true,
                    userStatistic: true,
                    commonStatistic: true,
                    visits: true,
                },
                mapTypes: [
                    {
                        name: 'Visits',
                        field: 'unique_visits',
                    },
                    {
                        name: 'Registrations',
                        field: 'regs',
                    },
                    {
                        name: 'Sales',
                        field: 'sales',
                    },
                ],
                mapType: 0,

                platforms: [],
                statistic: {
                    users: {
                        dateValues: [],
                        count: 0
                    },
                    platforms: {},
                    dates: {},
                },
                userStatistic: {
                    registeredTodayCount: 0,
                    averageOnlineTime: 0,
                    visits: 0,
                },
                chartSales: {},
                chartOrders: {},
                chartUsers: {},

                echartsOptions: {
                    grid: {
                        show: false,
                        left: '20px',
                        right: '20px',
                        bottom: '20px',
                        top: '30px',
                        containLabel: true
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross'
                        }
                    },
                    legend: {
                        show: true,
                        icon: 'rect',
                        right: 0,
                        itemWidth: 14,
                        itemHeight: 5,
                        itemGap: 13,
                        data: ['PS', 'Xbox'],
                        textStyle: {
                            color: '#ccc'
                        }
                    },
                    xAxis: {
                        data: [],
                        boundaryGap: false,
                        axisLine: {
                            lineStyle: {
                                color: 'rgba(255,255,255,0.5)'
                            }
                        }
                    },
                    yAxis: {
                        splitLine: {show: false},
                        name: 'coins',
                        axisLine: {
                            lineStyle: {
                                color: 'rgba(255,255,255,0.5)'
                            }
                        }
                    },
                    series: [
                        {
                            name: 'PS',
                            type: 'line',
                            smooth: true,
                            showAllSymbol: true,
                            symbol: 'emptyCircle',
                            symbolSize: 4,
                            lineStyle: {
                                color: '#00b6ff'
                            },
                            itemStyle: {
                                color: '#00b6ff',
                                borderColor: '#00b6ff',
                                borderWidth: 1
                            },
                            areaStyle: {
                                color: 'rgba(255,255,255,0.2)'
                            },
                            animationEasing: 'cubicInOut',
                            data: []
                        },

                        {
                            name: 'Xbox',
                            type: 'line',
                            smooth: true,
                            showAllSymbol: true,
                            symbol: 'emptyCircle',
                            symbolSize: 4,
                            lineStyle: {
                                color: '#00e53e'
                            },
                            itemStyle: {
                                color: '#00e53e',
                                borderColor: '#00e53e',
                                borderWidth: 1
                            },
                            areaStyle: {
                                color: 'rgba(255,255,255,0.2)'
                            },
                            animationEasing: 'cubicInOut',
                            data: []
                        }
                    ]
                },

                pagination: {
                    pageSize: 20,
                    pageSizes: [10, 20, 50, 100],
                },
                commonStatistic: [],
                commonStatisticPagination: {
                    currentPage: 1,
                    total: null,
                },
                visits: [],
                visitsPagination: {
                    currentPage: 1,
                    total: null,
                },
            }
        },
        computed: {
            smallWidget() {
                return this.dashboardWidth >= 970 && this.dashboardWidth <= 1412 && this.windowWidth >= 1200
            },
            usersIncrease() {
                // let arr = Object.values(this.statistic.users.dateValues)
                // return this.getIncrease(arr[arr.length - 2], arr[arr.length - 1])
            },
        },
        watch: {
            date: function () {

            },
            mapType: function (val) {

            }
        },
        methods: {
            __resizeHanlder: _.throttle(function (e) {
                if (this.resized) {
                    this.loading.charts = true
                    this.asyncComponent = null
                    this.removePeity()
                    setTimeout(() => {
                        this.asyncComponent = 'peity'
                    }, 1000)


                    setTimeout(() => {
                        this.loading.charts = false;
                        this.resizeCharts()
                    }, 1000)
                }
                this.resized = true
            }, 700),
            removePeity() {
                const peityEl = document.querySelectorAll('.widget .peity')//.forEach((el)=>{el.remove()})
                //ie fix
                for (let i = 0; i < peityEl.length; i++) {
                    peityEl[i].parentNode.removeChild(peityEl[i])
                }
            },
            initCharts() {
                this.chartSales = echarts.init(document.getElementById('chartSales'))
                this.chartSales.setOption(this.echartsOptions)
                this.chartOrders = echarts.init(document.getElementById('chartOrders'))
                this.chartOrders.setOption(this.echartsOptions)
                this.chartUsers = echarts.init(document.getElementById('chartUsers'))
                let opt = _.clone(this.echartsOptions)
                opt.legend.data = ['visits', 'registrations']
                opt.series[0].name = 'visits'
                opt.series[1].name = 'registrations'
                opt.yAxis.name = 'number'
                this.chartUsers.setOption(opt)
            },
            destroyCharts() {
                if (this.chartSales) {
                    this.chartSales.dispose()
                    this.chartSales = null
                }
                if (this.chartOrders) {
                    this.chartOrders.dispose()
                    this.chartOrders = null
                }
                if (this.chartUsers) {
                    this.chartUsers.dispose()
                    this.chartUsers = null
                }
            },
            resizeCharts() {
                if (this.chartSales) {
                    this.chartSales.resize()
                }
                if (this.chartOrders) {
                    this.chartOrders.resize()
                }
                if (this.chartUsers) {
                    this.chartUsers.resize()
                }
            },

            getIncrease(first, last) {
                if (!first || !last) return 0
                return (last * 100 / first - 100).toFixed(2)
            },




            handleSizePageChangeStatistic(val) {
                this.commonStatisticPagination.pageSize = val

            },
            handlePageChangeStatistic(val) {
                this.commonStatisticPagination.currentPage = val

            },

            handleSizePageChangeVisits(val) {
                this.visitsPagination.pageSize = val

            },
            handlePageChangeVisits(val) {
                this.visitsPagination.currentPage = val

            },
            formatNumber(num) {
                return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')
            }
        },
        mounted() {


        },
        beforeDestroy() {

        },
    }
</script>

<style lang="scss" scoped>
    @import '../assets/scss/_variables';

    .widget {
        height: 200px;
        position: relative;

        .widget-header {

            .widget-icon-box {
                background: rgba(0, 0, 0, .02);
                border: 1px solid rgba(0, 0, 0, .02);
                border-radius: 4px;
                text-align: center;
                width: 60px;
                padding: 5px;
            }

            .widget-title {
                font-weight: bold;
            }
        }

        .badge-box {
            .badge {
                //background: rgba(0, 0, 0, .02);
                display: inline-block;
                //padding: 2px 5px;
                //border: 1px solid rgba(0, 0, 0, .02);
                border-radius: 4px;
                font-size: 80%;
            }
        }
    }

    .chart-bg {
        background-color: #263048;
    }

    @media (min-width: 768px) and (max-width: 1040px) {
        .radio-switcher {
            display: none;
        }

        .widget {
            .widget-header {
                .widget-icon-box {
                    display: none;
                }
            }
        }
    }

    @media (max-width: 420px) {
        .radio-switcher {
            display: none;
        }
    }
</style>

<style lang="scss">
    .page-dashboard {

        .widget {
            .peity {
                position: absolute;
                bottom: -1px;
                left: 0;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }

        table.styled {
            .peity {
                margin-right: 10px;
            }
        }

        .vb-content {
            padding: 0 20px;
            box-sizing: border-box !important;
            margin-top: -5px;
            margin-left: -20px;
            margin-right: -20px;
            height: calc(100% + 15px) !important;
            width: calc(100% + 40px) !important;
        }
    }

    @media (max-width: 768px) {
        .page-dashboard {
            .vb-content {
                padding: 0 5px !important;
                margin: -5px;
                width: calc(100% + 10px) !important;
            }
        }
    }

    .db-input {
        display: block;
        margin: 0 0 5px 0 !important;
    }
</style>


