<template>
    <div class="page-table scrollable">

        <div class="table-box card-base card-shadow--medium">
            <el-table :data="orders" max-height="500" style="width: 100%" v-loading="loadingOrders">
                <el-table-column
                        prop="total_price"
                        label="Total Price($)"
                        sortable
                        width="180">
                    <template slot-scope="scope">
                        $ {{scope.row.total_price}}
                    </template>
                </el-table-column>

                <el-table-column
                    prop="is_delivery"
                    label="Is Delivery"
                    sortable
                    width="130">
                    <template slot-scope="scope">
                        <i v-if="scope.row.is_delivery" class="mdi mdi-check"></i>
                        <i v-if="!scope.row.is_delivery" class="mdi mdi-close"></i>
                    </template>
                </el-table-column>

                <el-table-column
                    prop="delivery_cost"
                    label="Delivery Cost($)"
                    sortable
                    width="180">
                    <template slot-scope="scope">
                        <span v-if="scope.row.is_delivery">
                           $ {{scope.row.delivery_cost}}
                        </span>
                        <span v-if="!scope.row.is_delivery">
                            -
                        </span>
                    </template>
                </el-table-column>

                <el-table-column
                    prop="total_fee"
                    label="Total Fee($)"
                    sortable
                    width="150">
                </el-table-column>

                <el-table-column
                    prop="total_discount"
                    label="Total Discount($)"
                    sortable
                    width="180">
                </el-table-column>

                <el-table-column
                        label="Actions"
                        width="300"
                        fixed="right">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                @click="handleEdit(scope.row)">Edit
                        </el-button>

                        <el-button
                                size="mini"
                                type="danger"
                                @click="handleDelete(scope.row)">Delete
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <el-button class="mt-10" type="primary" icon="el-icon-plus" @click="handleCreate">Add Order</el-button>

        <div class="block mt-20">
            <el-pagination
                    @size-change="handleSizePageChange"
                    @current-change="handlePageChange"
                    :current-page.sync="pagination.currentPage"
                    :page-sizes="pagination.pageSizes"
                    :page-size="pagination.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="pagination.total">
            </el-pagination>
        </div>

    </div>
</template>

<script>
    import {api} from '@/api'

    export default {
        name: "Order",
        data() {
            return {
                orders: [],
                order: {},
                dialogVisible: false,
                loadingOrders: false,
                action: 'edit',
                type: 1,
                types: {
                    1: {
                        id: 1,
                        name: 'News'
                    },
                    2: {
                        id: 2,
                        name: 'Blog'
                    }
                },
                languages: [
                    {
                        locale: 'en',
                        name: 'english'
                    }
                ],
                pagination: {
                    currentPage: 1,
                    total: null,
                    pageSize: 20,
                    pageSizes: [10, 20, 50, 100],
                },
                imgList: [{name: '', url: ''}],
                img: null,
                imgName: '',
            }
        },
        computed: {
            loading() {
                return this.$store.getters.loading
            }
        },
        watch: {},
        methods: {
            handleEdit(order) {
                this.order = null;
                this.order = _.clone(order)

                this.dialogVisible = true
            },
            handleCreate() {
                this.order = {description: ' ' }
                this.order.description = ' '

                this.action = 'create'
                this.dialogVisible = true
            },
            handleDelete(order) {
                this.$confirm('This will permanently delete. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning',
                    center: true
                }).then(() => {
                    this.deleteOrder(order)
                })
            },
            deleteOrder(order) {
                api.post('order/delete', {
                    id: order.id,
                }).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });
                    this.get();
                })
            },
            saveOrder() {
                this.$store.commit('setLoading', true)
                api.post('order/save', this.order).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });
                    this.$store.commit('setLoading', false)
                    if (response.data.status === 'success'){
                        this.dialogVisible = false
                        this.get()
                    }
                })
            },
            get() {
                this.loadingOrders = true
                api.post('order', {
                    take: this.pagination.pageSize,
                    skip: this.pagination.pageSize * (this.pagination.currentPage - 1),
                }).then(response => {
                    this.orders = response.data.data.orders
                    this.pagination.total = response.data.data.total
                    this.loadingOrders = false
                })
            },
            handleSizePageChange(val) {
                this.pagination.pageSize = val
                this.get()
            },
            handlePageChange(val) {
                this.pagination.currentPage = val
                this.get()
            }
        },

        created() {
            if (window.innerWidth <= 768)
                this.isMobile = true
        },
        mounted() {
            //ie fix
            if (!window.Number.parseInt) window.Number.parseInt = parseInt
            this.get()
        }
    }
</script>

<style lang="scss" scoped>
    @import '../assets/scss/_variables';

    .table-box {
        overflow: auto;
    }
</style>
