<template>
    <div class="page-table scrollable">


        <div class="table-box card-base card-shadow--medium">
            <el-table :data="permissions" max-height="500" style="width: 100%" v-loading="loadingPermissions">
                <el-table-column
                        prop="name"
                        label="Name"
                        sortable
                        width="200"></el-table-column>
                <el-table-column
                        prop="guard_name"
                        label="Guard Name"
                        sortable
                        width="200"></el-table-column>
                <el-table-column
                        prop="description"
                        label="Description"
                        sortable
                        width="300"></el-table-column>
                <el-table-column
                        label="Actions"
                        width="300"
                        fixed="right">
                    <template slot-scope="scope">

                        <el-button
                                size="mini"
                                @click="handleEdit(scope.row)">Edit
                        </el-button>
                        <el-button
                                size="mini"
                                @click="handleDelete(scope.row)">Delete
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <el-button class="mt-20" type="primary" icon="el-icon-plus" @click="handleCreate">Add Permissions</el-button>


        <div class="block mt-20">
            <el-pagination
                    @size-change="handleSizePageChange"
                    @current-change="handlePageChange"
                    :current-page.sync="pagination.currentPage"
                    :page-sizes="pagination.pageSizes"
                    :page-size="pagination.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="pagination.total">
            </el-pagination>
        </div>

        <!-- Form -->
        <el-dialog v-loading="loadingPermissions" :title="action"
                   :visible.sync="dialogVisible">
            <el-form :model="permission">
                <el-form-item label="Name" :label-width="'120px'">
                    <el-input type="text" v-model="permission.name" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="Guard Name" :label-width="'120px'">
                    <el-input type="text" v-model="permission.guard_name" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="Description" :label-width="'120px'">
                    <el-input type="text" v-model="permission.description" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer ml-auto">
                        <el-button @click="dialogVisible = false">Cancel</el-button>
                        <el-button type="primary" @click="save">Confirm</el-button>
                    </span>
        </el-dialog>

    </div>
</template>

<script>
    import {api} from '@/api'

    export default {
        name: "Permission",
        data() {
            return {
                action: 'Create',
                loadingPermissions: false,
                permissions: [],
                permission: {},
                dialogVisible: false,
                pagination: {
                    currentPage: 1,
                    total: null,
                    pageSize: 20,
                    pageSizes: [10, 20, 50, 100],
                },
            }
        },
        computed: {
            loading() {
                return this.$store.getters.loading
            }
        },
        watch: {},
        methods: {
            handleCreate() {
                this.permission = {};
                this.action = 'create'
                this.dialogVisible = true
            },
            handleEdit(permission) {
                this.permission = _.clone(permission)
                this.action = 'edit'
                this.dialogVisible = true
            },
            handleDelete(permission) {
                this.$confirm('This will permanently delete. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning',
                    center: true
                }).then(() => {
                    this.delete(permission)
                })
            },
            delete(ticket) {
                api.post('permissions/delete', {
                    id: ticket.id,
                }).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });
                    if (response.data.status === 'success') {
                        this.getPermissions();
                    }
                })
            },
            save() {
                this.loadingPermissions = true
                api.post('permissions/save', this.permission).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });
                    this.loadingPermissions = false
                    this.getPermissions()
                })
                this.dialogVisible = false
            },
            getPermissions() {
                this.loadingPermissions = true
                api.post('permissions', {
                    take: this.pagination.pageSize,
                    skip: this.pagination.pageSize * (this.pagination.currentPage - 1),
                }).then(response => {
                    this.permissions = response.data.permissions
                    this.pagination.total = response.data.total
                    this.loadingPermissions = false
                })
            },
            handleSizePageChange(val) {
                this.pagination.pageSize = val
                this.getPermissions()
            },
            handlePageChange(val) {
                this.pagination.currentPage = val
                this.getPermissions()
            },
        },

        created() {
            if (window.innerWidth <= 768)
                this.isMobile = true
        },
        mounted() {
            //ie fix
            if (!window.Number.parseInt) window.Number.parseInt = parseInt
            this.getPermissions()
        }
    }
</script>

<style lang="scss" scoped>
    @import '../assets/scss/_variables';

    .table-box {
        overflow: auto;
    }
</style>
