<template>
    <div class="page-table scrollable">

        <div class="table-box card-base card-shadow--medium">
            <el-table :data="pizzaTypes" max-height="500" style="width: 100%" v-loading="loadingPizzaTypes">
                <el-table-column
                        prop="pizza.name"
                        label="Pizza Name"
                        sortable
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="sizeName"
                        label="Size"
                        sortable
                        width="100">
                </el-table-column>
                <el-table-column
                        prop="slice"
                        label="Slice"
                        sortable
                        width="100">
                </el-table-column>
                <el-table-column
                        prop="base_price"
                        label="Base Price"
                        sortable
                        width="130">
                </el-table-column>
                <el-table-column
                        prop="price"
                        label="Total Price"
                        sortable
                        width="130">
                </el-table-column>

                <el-table-column
                        prop="fee"
                        label="Fee"
                        sortable
                        width="100">
                </el-table-column>
                <el-table-column
                        label="Actions"
                        width="300"
                        fixed="right">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                @click="handleEdit(scope.row)">Edit
                        </el-button>

                        <el-button
                                size="mini"
                                type="danger"
                                @click="handleDelete(scope.row)">Delete
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <el-button class="mt-10" type="primary" icon="el-icon-plus" @click="handleCreate">Add Pizza Type</el-button>

        <div class="block mt-20">
            <el-pagination
                    @size-change="handleSizePageChange"
                    @current-change="handlePageChange"
                    :current-page.sync="pagination.currentPage"
                    :page-sizes="pagination.pageSizes"
                    :page-size="pagination.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="pagination.total">
            </el-pagination>
        </div>

        <el-dialog :fullscreen="true" v-loading="loadingPizzaTypes" :title="action === 'edit' ? 'Edit' : 'Create'"
                   :visible.sync="dialogVisible">
            <el-form :model="pizzaType">

                <el-form-item label="Pizza" :label-width="'120px'">
                    <el-select v-model="pizzaType.pizza_id" clearable filterable>
                        <el-option v-for="pizza in this.pizzas" :key="pizza.id" :label="pizza.name"
                                   :value="pizza.id"></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="Size" :label-width="'120px'">
                    <el-select v-model="pizzaType.pizza_size" clearable filterable>
                        <el-option v-for="size in this.baseSizes" :key="size.id" :label="size.name"
                                   :value="size.id"></el-option>
                    </el-select>
                </el-form-item>


                <el-form-item label="Base Price" :label-width="'120px'">
                    <el-input v-model="pizzaType.base_price" auto-complete="off"
                              placeholder="pizza base price"></el-input>
                </el-form-item>


                <el-form-item label="Slice" :label-width="'120px'">
                    <el-input v-model="pizzaType.slice" auto-complete="off"
                              placeholder="number of slice"></el-input>
                </el-form-item>

                <el-form-item label="Fee" :label-width="'120px'">
                    <el-input v-model="pizzaType.fee" auto-complete="off"
                              placeholder="Order of pizza types display"></el-input>
                </el-form-item>

                <el-form-item label="Order" :label-width="'120px'">
                    <el-input v-model="pizzaType.order" auto-complete="off"
                              placeholder="Order of pizza types display"></el-input>
                </el-form-item>

            </el-form>
            <span slot="footer" class="dialog-footer ml-auto">
                        <el-button @click="dialogVisible = false">Cancel</el-button>
                        <el-button type="primary" @click="savePizzaType">Confirm</el-button>
                    </span>
        </el-dialog>


    </div>
</template>

<script>
    import {api} from '@/api'

    export default {
        name: "PizzaType",
        data() {
            return {
                pizzas: [],
                pizzaTypes: [],
                pizzaType: {},
                dialogVisible: false,
                loadingPizzaTypes: false,
                action: 'edit',
                baseSizes: [
                    {
                        id: 1,
                        name: 'Small'
                    },
                    {
                        id: 2,
                        name: 'Medium'
                    },
                    {
                        id: 3,
                        name: 'Large'
                    },
                    {
                        id: 4,
                        name: 'XLarge'
                    }
                ],
                pagination: {
                    currentPage: 1,
                    total: null,
                    pageSize: 20,
                    pageSizes: [10, 20, 50, 100],
                }
            }
        },
        computed: {
            loading() {
                return this.$store.getters.loading
            }
        },
        watch: {},
        methods: {

            handleEdit(pizzaType) {
                this.pizzaType = null;
                this.pizzaType = _.clone(pizzaType)
                this.action = 'edit'

                this.dialogVisible = true
            },
            handleCreate() {
                this.pizzaType = {};
                this.action = 'create'
                this.dialogVisible = true
            },
            handleDelete(pizzaType) {
                this.$confirm('This will permanently delete. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning',
                    center: true
                }).then(() => {
                    this.deletePizzaType(pizzaType)
                })
            },
            deletePizzaType(pizzaType) {
                api.post('pizzaType/delete', {
                    id: pizzaType.id,
                }).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });
                    this.get();
                })
            },
            savePizzaType() {
                this.$store.commit('setLoading', true)
                api.post('pizzaType/save', this.pizzaType).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });
                    this.$store.commit('setLoading', false)
                    if (response.data.status === 'success'){
                        this.dialogVisible = false
                        this.get()
                    }
                })
            },
            get() {
                this.loadingPizzaTypes = true
                api.post('pizzaType', {
                    take: this.pagination.pageSize,
                    skip: this.pagination.pageSize * (this.pagination.currentPage - 1),
                }).then(response => {
                    this.pizzaTypes = response.data.data.pizzaTypes
                    this.pagination.total = response.data.data.total
                    this.loadingPizzaTypes = false
                })
            },
            getPizzas(){
                api.post('pizza').then(response => {
                    this.pizzas = response.data.data.pizzas
                })
            },
            handleSizePageChange(val) {
                this.pagination.pageSize = val
                this.get()
            },
            handlePageChange(val) {
                this.pagination.currentPage = val
                this.get()
            }
        },

        created() {
            if (window.innerWidth <= 768){
                this.isMobile = true
            }
        },
        mounted() {
            //ie fix
            if (!window.Number.parseInt) window.Number.parseInt = parseInt
            this.getPizzas()
            this.get()

        }
    }
</script>

<style lang="scss" scoped>
    @import '../assets/scss/_variables';

    .table-box {
        overflow: auto;
    }
</style>
