<template>
    <div class="page-table scrollable">

        <div class="table-box card-base card-shadow--medium">
            <el-table :data="pizzas" max-height="500" style="width: 100%" v-loading="loadingPizzas">
                <el-table-column
                        label="Photo"
                        width="150">
                    <template slot-scope="scope">
                        <img :src="scope.row.imgUrl.split('/').slice(0, -1).join('/') + '/small_' + scope.row.imgUrl.split('\\').pop().split('/').pop()"
                             @click="handleEdit(scope.row)"
                             style="width: 100px;">
                    </template>
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="Name"
                        sortable
                        width="300">
                </el-table-column>
                <el-table-column
                        label="Actions"
                        width="300"
                        fixed="right">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                @click="handleEdit(scope.row)">Edit
                        </el-button>

                        <el-button
                                size="mini"
                                type="danger"
                                @click="handleDelete(scope.row)">Delete
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <el-button class="mt-10" type="primary" icon="el-icon-plus" @click="handleCreate">Add pizza</el-button>

        <div class="block mt-20">
            <el-pagination
                    @size-change="handleSizePageChange"
                    @current-change="handlePageChange"
                    :current-page.sync="pagination.currentPage"
                    :page-sizes="pagination.pageSizes"
                    :page-size="pagination.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="pagination.total">
            </el-pagination>
        </div>

        <el-dialog :fullscreen="true" v-loading="loadingPizzas" :title="action === 'edit' ? 'Edit' : 'Create'"
                   :visible.sync="dialogVisible">
            <el-form :model="pizza">

                <el-form-item label="Name" :label-width="'120px'">
                    <el-input v-model="pizza.name" auto-complete="off"
                              placeholder="part of url address"></el-input>
                </el-form-item>

                <el-form-item label="Image" :label-width="'120px'">
                    <el-upload
                            list-type="picture"
                            action=""
                            :file-list="imgList"
                            ref="upload"
                            :auto-upload="false"
                            :on-change="handleChangeImg"
                            :on-remove="handleRemoveImg">
                        <el-button size="small" type="primary">Click to upload</el-button>
                        <div slot="tip" class="el-upload__tip">jpg/png files with a size less than
                            2000kb
                        </div>
                    </el-upload>
                </el-form-item>

                <el-form-item label="Description" :label-width="'120px'">
                            <textarea name="ck" :id="'ck-description'" v-model="pizza.description" cols="30"
                                      rows="30"></textarea>
                </el-form-item>

            </el-form>
            <span slot="footer" class="dialog-footer ml-auto">
                        <el-button @click="dialogVisible = false">Cancel</el-button>
                        <el-button type="primary" @click="savePizza">Confirm</el-button>
                    </span>
        </el-dialog>


    </div>
</template>

<script>
    import {api} from '@/api'

    export default {
        name: "Pizza",
        data() {
            return {
                pizzas: [],
                pizza: {},
                dialogVisible: false,
                loadingPizzas: false,
                action: 'edit',
                type: 1,
                types: {
                    1: {
                        id: 1,
                        name: 'News'
                    },
                    2: {
                        id: 2,
                        name: 'Blog'
                    }
                },
                languages: [
                    {
                        locale: 'en',
                        name: 'english'
                    }
                ],
                pagination: {
                    currentPage: 1,
                    total: null,
                    pageSize: 20,
                    pageSizes: [10, 20, 50, 100],
                },
                imgList: [{name: '', url: ''}],
                img: null,
                imgName: '',
            }
        },
        computed: {
            loading() {
                return this.$store.getters.loading
            }
        },
        watch: {},
        methods: {
            initCKE(item) {

                if (CKEDITOR.instances[item]) {
                    CKEDITOR.instances[item].destroy()
                }
                CKEDITOR.replace(item)
                CKEDITOR.instances[item].setData(this.pizza.description)

            },
            handleEdit(pizza) {
                this.pizza = null;
                this.pizza = _.clone(pizza)

                this.$nextTick(function () {
                    this.initCKE('ck-description')
                })


                this.img = null
                this.imgList = [{
                    name: pizza.img,
                    url: pizza.imgUrl,
                }]
                this.imgName = pizza.img
                this.action = 'edit'

                this.$nextTick(function () {
                    this.initCKE('ck-description')
                })

                this.dialogVisible = true
            },
            handleCreate() {
                this.pizza = {description: ' ' }
                this.pizza.description = ' '

                this.$nextTick(function () {
                    this.initCKE('ck-description')
                })
                this.img = null
                this.imgName = ''
                this.imgList = []
                this.action = 'create'
                this.dialogVisible = true
            },
            handleDelete(pizza) {
                this.$confirm('This will permanently delete. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning',
                    center: true
                }).then(() => {
                    this.deletePizza(pizza)
                })
            },
            deletePizza(pizza) {
                api.post('pizza/delete', {
                    id: pizza.id,
                }).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });
                    this.get();
                })
            },
            savePizza() {
                if (!this.imgName) {
                    this.$message.warning('Please, select image.');
                    return
                }
                this.$store.commit('setLoading', true)

                let data = new FormData();
                if (this.img) {
                    data.append('img', this.img);
                }
                data.append('name', this.pizza.name);
                data.append('imgName', this.imgName);
                data.append('description', CKEDITOR.instances['ck-description'].getData());

                data.append('id', this.pizza.id ? this.pizza.id : '');
                api.post('pizza/save', data).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });

                    this.$store.commit('setLoading', false)
                    if (response.data.status === 'success') {
                        this.get()
                        this.dialogVisible = false
                    }

                })
            },
            get() {
                this.loadingPizzas = true
                api.post('pizza', {
                    take: this.pagination.pageSize,
                    skip: this.pagination.pageSize * (this.pagination.currentPage - 1),
                }).then(response => {
                    this.pizzas = response.data.data.pizzas
                    this.pagination.total = response.data.data.total
                    this.loadingPizzas = false
                })
            },
            handleSizePageChange(val) {
                this.pagination.pageSize = val
                this.get()
            },
            handlePageChange(val) {
                this.pagination.currentPage = val
                this.get()
            },
            handleChangeImg(file) {
                let f = file.raw
                const isImage = f.type === 'image/jpeg' || f.type === 'image/png';
                const isLt2M = f.size / 1024 / 1024 < 2;

                if (!isImage) {
                    this.$message.error('Image must be JPG or PNG format!');
                }
                if (!isLt2M) {
                    this.$message.error('Image size can not exceed 2MB!');
                }
                if (isImage && isLt2M) {
                    this.img = f
                    this.imgName = f.name
                    if (this.$refs.upload.uploadFiles.length > 1)
                        this.$refs.upload.uploadFiles.shift()
                } else {
                    this.$refs.upload.uploadFiles.pop()
                }

            },
            handleRemoveImg() {
                this.$refs.upload.clearFiles()
                this.imgName = ''
                this.img = null
            }
        },

        created() {
            if (window.innerWidth <= 768)
                this.isMobile = true
        },
        mounted() {
            //ie fix
            if (!window.Number.parseInt) window.Number.parseInt = parseInt
            this.get()
        }
    }
</script>

<style lang="scss" scoped>
    @import '../assets/scss/_variables';

    .table-box {
        overflow: auto;
    }
</style>
