<template>
    <div class="page-table scrollable">
        <div class="table-box card-base card-shadow--medium">
            <el-table :data="roles" max-height="500" style="width: 100%" v-loading="loadingRoles">
                <el-table-column
                        prop="name"
                        label="Name"
                        sortable
                        width="200"></el-table-column>
                <el-table-column
                        prop="guard_name"
                        label="Guard Name"
                        sortable
                        width="200"></el-table-column>
                <el-table-column
                        prop="description"
                        label="Description"
                        sortable
                        width="300"></el-table-column>
                <el-table-column
                        label="Actions"
                        width="300"
                        fixed="right">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                @click="handlePermissions(scope.row)">Permissions
                        </el-button>
                        <el-button
                                size="mini"
                                @click="handleEdit(scope.row)">Edit
                        </el-button>
                        <el-button
                                size="mini"
                                @click="handleDelete(scope.row)">Delete
                        </el-button>


                    </template>
                </el-table-column>
            </el-table>
        </div>

        <el-button class="mt-20" type="primary" icon="el-icon-plus" @click="handleCreate">Add Role</el-button>


        <div class="block mt-20">
            <el-pagination
                    @size-change="handleSizePageChange"
                    @current-change="handlePageChange"
                    :current-page.sync="pagination.currentPage"
                    :page-sizes="pagination.pageSizes"
                    :page-size="pagination.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="pagination.total">
            </el-pagination>
        </div>

        <!-- Form -->
        <el-dialog v-loading="loadingRoles" :title="action"
                   :visible.sync="dialogVisible">
            <el-form :model="role">
                <el-form-item label="Name" :label-width="'120px'">
                    <el-input type="text" v-model="role.name" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="Guard Name" :label-width="'120px'">
                    <el-input type="text" v-model="role.guard_name" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="Description" :label-width="'120px'">
                    <el-input type="text" v-model="role.description" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer ml-auto">
                        <el-button @click="dialogVisible = false">Cancel</el-button>
                        <el-button type="primary" @click="save">Confirm</el-button>
                    </span>
        </el-dialog>

        <el-dialog v-loading="loadingRoles" :title="action"
                   :visible.sync="permissionsDialogVisible">

            <el-row>
                <el-table :data="role.permissions" max-height="570" style="width: 100%" v-loading="loading">
                    <el-table-column
                            prop="description"
                            label="Description"
                            sortable
                            width="250"
                    ></el-table-column>

                    <el-table-column
                            label="Action"
                            sortable
                            width="100">
                        <template slot-scope="scope">
                            <el-switch
                                    v-model="scope.row.flag"
                                    @change="savePermission(scope.row)"
                                    active-color="#13ce66">
                            </el-switch>
                        </template>
                    </el-table-column>

                </el-table>
            </el-row>
        </el-dialog>

    </div>
</template>

<script>
    import {api} from '@/api'

    export default {
        name: "Role",
        data() {
            return {
                action: 'Create',
                loadingRoles: false,
                roles: [],
                permissions: [],
                role: {},
                dialogVisible: false,
                permissionsDialogVisible: false,
                pagination: {
                    currentPage: 1,
                    total: null,
                    pageSize: 20,
                    pageSizes: [10, 20, 50, 100],
                },
            }
        },
        computed: {
            loading() {
                return this.$store.getters.loading
            }
        },
        watch: {},
        methods: {
            handleCreate() {
                this.role = {};
                this.action = 'create'
                this.dialogVisible = true
            },
            handlePermissions(role) {
                this.role = _.clone(role)
                this.action = 'permissions'
                this.permissionsDialogVisible = true
            },
            handleEdit(role) {
                this.role = _.clone(role)
                this.action = 'edit'
                this.dialogVisible = true
            },
            handleDelete(role) {
                this.$confirm('This will permanently delete. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning',
                    center: true
                }).then(() => {
                    this.delete(role)
                })
            },

            delete(role) {
                api.post('roles/delete', {
                    id: role.id,
                }).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });
                    if (response.data.status === 'success') {
                        this.getRoles();
                    }
                })
            },
            savePermission(row) {
                let data = {
                    permission_id: row.id,
                    flag: row.flag
                }
                api.patch('roles/permission/' + this.role.id, data).then(response => {
                    if (response.data.status === 'success') {
                        this.$message({
                            showClose: true,
                            message: response.data.message,
                            type: response.data.status
                        });
                    }
                })
            },
            save() {
                this.loadingRoles = true
                api.post('roles/save', this.role).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });
                    this.loadingRoles = false
                    this.getRoles()
                })
                this.dialogVisible = false
            },
            getRoles() {
                this.loadingRoles = true
                api.post('roles', {
                    take: this.pagination.pageSize,
                    skip: this.pagination.pageSize * (this.pagination.currentPage - 1),
                }).then(response => {
                    this.roles = response.data.roles
                    this.permissions = response.data.permissions
                    this.pagination.total = response.data.total
                    this.loadingRoles = false
                })
            },

            handleSizePageChange(val) {
                this.pagination.pageSize = val
                this.getRoles()
            },
            handlePageChange(val) {
                this.pagination.currentPage = val
                this.getRoles()
            },
        },

        created() {
            if (window.innerWidth <= 768)
                this.isMobile = true
        },
        mounted() {
            //ie fix
            if (!window.Number.parseInt) window.Number.parseInt = parseInt
            this.getRoles()
        }
    }
</script>

<style lang="scss" scoped>
    @import '../assets/scss/_variables';

    .table-box {
        overflow: auto;
    }
</style>
