<template>
    <div class="page-table scrollable">

        <!--Filters-->
        <el-form :inline="true" :model="filter" class="demo-form-inline">
            <el-form-item label="Only with referrals">
                <el-checkbox v-model="filter.with_referrals"></el-checkbox>
            </el-form-item>
            <el-form-item label="Email">
                <el-input v-model="filter.email" clearable placeholder="Email"></el-input>
            </el-form-item>
            <el-form-item label="Country">
                <el-select v-model="filter.country_id" clearable filterable placeholder="Country">
                    <el-option v-for="country in filter.countries" :key="country.id" :label="country.name" :value="country.id"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="getUsers">Apply</el-button>
                <el-button type="warning" @click="resetFilter">Reset</el-button>
            </el-form-item>
        </el-form>

        <div class="table-box card-base card-shadow--medium">
            <el-table :data="users" max-height="500" style="width: 100%" v-loading="loadingUsers">
                <el-table-column
                        prop="email"
                        label="Email"
                        sortable
                        width="300"
                ></el-table-column>
                <el-table-column
                        prop="name"
                        label="Name"
                        sortable
                        width="150"></el-table-column>
                <el-table-column
                        prop="country"
                        label="Country"
                        sortable
                        minWidth="150"></el-table-column>
                <el-table-column
                        prop="balance_ps4"
                        label="Balance ps4"
                        sortable
                        width="130"></el-table-column>
                <el-table-column
                        prop="balance_xbox"
                        label="Balance xbox"
                        sortable
                        width="140"></el-table-column>
                <el-table-column
                        prop="registerDate"
                        label="Register date"
                        sortable
                        width="150"></el-table-column>
                <el-table-column
                    prop="ref_link"
                    label="Reference code"
                    sortable
                    width="150"></el-table-column>
                <el-table-column
                    label="Referrals"
                    prop="ref_count"
                    sortable
                    width="150">
                </el-table-column>
                <el-table-column
                    label="Referral buys"
                    prop="ref_buy_count"
                    sortable
                    width="150">
                </el-table-column>
                <el-table-column
                        label="Actions"
                        width="160"
                        fixed="right">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                @click="handleEdit(scope.row)">Edit
                        </el-button>
                        <el-button
                                size="mini"
                                type="danger"
                                @click="handleDelete(scope.row)">Delete
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <div class="block mt-20">
            <el-pagination
                    @size-change="handleSizePageChange"
                    @current-change="handlePageChange"
                    :current-page.sync="pagination.currentPage"
                    :page-sizes="pagination.pageSizes"
                    :page-size="pagination.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="pagination.total">
            </el-pagination>
        </div>

        <!-- Form -->
        <el-dialog :fullscreen="true" v-loading="loading" title="User edit" :visible.sync="dialogUserVisible">
            <el-tabs tab-position="top" @tab-click="getBalanceHistory" ref="UserEditTabs">
                <el-tab-pane label="info" style="display: grid;" name="info">
                    <el-form :model="userTemp">
                        <el-form-item class="mb-0" label="Email" :label-width="'160px'">{{userTemp.email}}</el-form-item>
                        <el-form-item class="mb-0" label="Name" :label-width="'160px'">{{userTemp.name}}</el-form-item>
                        <el-form-item class="mb-0" label="Country" :label-width="'160px'">{{userTemp.country}}</el-form-item>
                        <el-form-item class="mb-0" label="Register date" :label-width="'160px'">{{userTemp.registerDate}}</el-form-item>
                        <el-form-item class="mb-0" label="Discount Level" :label-width="'160px'">{{userTemp.cur_discount_percent}}%</el-form-item>
                        <el-form-item label="Coins for next level" :label-width="'160px'">{{userTemp.coins_for_next_discount}}</el-form-item>
                        <div class="flex gaps grid-12">
                            <div class="col-4">
                                <el-form-item label="Balance ps4" :label-width="'160px'">
                                    <el-input v-model="userTemp.balance_ps4" auto-complete="off"></el-input>
                                </el-form-item>
                            </div>
                            <div class="col-8">
                                <el-form-item label="Comment ps4" :label-width="'160px'">
                                    <el-input v-model="userTemp.comment_ps4" auto-complete="off"></el-input>
                                </el-form-item>
                            </div>
                        </div>

                        <div class="flex gaps grid-12">
                            <div class="col-4">
                                <el-form-item label="Balance xbox" :label-width="'160px'">
                                    <el-input v-model="userTemp.balance_xbox" auto-complete="off"></el-input>
                                </el-form-item>
                            </div>
                            <div class="col-8">
                                <el-form-item label="Comment xbox" :label-width="'160px'">
                                    <el-input v-model="userTemp.comment_xbox" auto-complete="off"></el-input>
                                </el-form-item>
                            </div>
                        </div>

                        <div class="flex gaps grid-12">
                            <div class="col-4">
                                <el-form-item label="Balance ps4 comfort" :label-width="'160px'">
                                    <el-input v-model="userTemp.balance_ps4_c" auto-complete="off"></el-input>
                                </el-form-item>
                            </div>
                            <div class="col-8">
                                <el-form-item label="Comment ps4 comfort" :label-width="'160px'">
                                    <el-input v-model="userTemp.comment_ps4_c" auto-complete="off"></el-input>
                                </el-form-item>
                            </div>
                        </div>

                        <div class="flex gaps grid-12">
                            <div class="col-4">
                                <el-form-item label="Balance xbox comfort" :label-width="'160px'">
                                    <el-input v-model="userTemp.balance_xbox_c" auto-complete="off"></el-input>
                                </el-form-item>
                            </div>
                            <div class="col-8">
                                <el-form-item label="Comment xbox comfort" :label-width="'160px'">
                                    <el-input v-model="userTemp.comment_xbox_c" auto-complete="off"></el-input>
                                </el-form-item>
                            </div>
                        </div>
                    </el-form>
                    <span class="dialog-footer ml-auto">
                        <el-button @click="dialogUserVisible = false">Cancel</el-button>
                        <el-button type="primary" @click="updateUser">Confirm</el-button>
                    </span>
                </el-tab-pane>

                <el-tab-pane v-for="category in categories"
                             :label="category.name + ' balance history'"
                             :name="category.name"
                             :category="category.name"
                             :type="3"
                             :key="category.id">
                    <div class="table-box card-base card-shadow--medium">
                        <el-table :data="balanceHistory" max-height="600" style="width: 100%" v-loading="loadingBalance">
                            <el-table-column
                                    prop="prev_coins"
                                    label="Old coins"
                                    width="120"
                            ></el-table-column>
                            <el-table-column
                                    prop="coins"
                                    label="Coins"
                                    width="120"></el-table-column>
                            <el-table-column
                                    prop="difference"
                                    label="Difference"
                                    width="120"></el-table-column>
                            <el-table-column
                                    prop="date"
                                    label="Date"
                                    width="200"></el-table-column>
                            <el-table-column
                                    prop="type"
                                    label="Type"
                                    width="120"></el-table-column>
                            <el-table-column
                                    prop="comment"
                                    label="Comment"
                                    minWidth="300"></el-table-column>
                        </el-table>
                    </div>
                </el-tab-pane>

                <el-tab-pane v-for="category in categories"
                             :label="category.name + ' balance history comfort'"
                             :name="category.name + '_c'"
                             :category="category.name"
                             :type="4"
                             :key="category.id + '_c'">
                    <div class="table-box card-base card-shadow--medium">
                        <el-table :data="balanceHistory" max-height="600" style="width: 100%" v-loading="loadingBalance">
                            <el-table-column
                                    prop="prev_coins"
                                    label="Old coins"
                                    width="120"
                            ></el-table-column>
                            <el-table-column
                                    prop="coins"
                                    label="Coins"
                                    width="120"></el-table-column>
                            <el-table-column
                                    prop="difference"
                                    label="Difference"
                                    width="120"></el-table-column>
                            <el-table-column
                                    prop="date"
                                    label="Date"
                                    width="200"></el-table-column>
                            <el-table-column
                                    prop="type"
                                    label="Type"
                                    width="120"></el-table-column>
                            <el-table-column
                                    prop="comment"
                                    label="Comment"
                                    minWidth="300"></el-table-column>
                        </el-table>
                    </div>
                </el-tab-pane>

                <el-tab-pane label="referrals" style="display: grid;" name="referrals">
                    <el-table :data="userTemp.referrals" style="width: 100%" v-loading="loadingUsers">
                        <el-table-column
                            prop="email"
                            label="Email"
                            sortable
                            width="300"
                        ></el-table-column>
                        <el-table-column
                            prop="name"
                            label="Name"
                            sortable
                            width="150"></el-table-column>
                        <el-table-column
                            prop="country"
                            label="Country"
                            sortable
                            minWidth="150"></el-table-column>
                        <el-table-column
                            prop="balance_ps4"
                            label="Balance ps4"
                            sortable
                            width="130"></el-table-column>
                        <el-table-column
                            prop="balance_xbox"
                            label="Balance xbox"
                            sortable
                            width="140"></el-table-column>
                        <el-table-column
                            prop="created_at"
                            label="Register date"
                            sortable
                            width="200"></el-table-column>
                    </el-table>
                </el-tab-pane>

            </el-tabs>
        </el-dialog>

    </div>
</template>

<script>
    import {api} from '@/api'

    export default {
        name: "Users",
        data() {
            return {
                isMobile: false,
                loadingUsers: false,
                loadingBalance: false,
                search: '',
                users: [],
                user: {},
                userTemp: {},
                dialogUserVisible: false,
                pagination: {
                    currentPage: 1,
                    total: null,
                    pageSize: 20,
                    pageSizes: [10, 20, 50, 100],
                },
                filter: {
                    with_referrals: false,
                    email: '',
                    country_id: '',
                    countries: [],
                },
                categories: [],
                balanceHistory: [],
            }
        },
        computed: {
            loading() {
                return this.$store.getters.loading
            }
        },
        watch: {},
        methods: {
            filterTag(value, row) {
                return row.tag === value;
            },
            filterHandler(value, row, column) {
                const property = column['property'];
                return row[property] === value;
            },
            handleEdit(user) {
                this.userTemp = _.clone(user)
                this.$nextTick(function() {
                    this.$refs.UserEditTabs.setCurrentName('info')
                })

                this.dialogUserVisible = true
            },
            handleDelete(user) {
                this.$confirm('This will permanently delete. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning',
                    center: true
                }).then(() => {
                    this.deleteUser(user)
                })
            },
            deleteUser(user) {
                api.post('users/delete', {
                    id: user.id,
                }).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });
                    if (response.data.status === 'success')
                        this.users = this.users.filter(item => item.id !== user.id)
                })
            },
            updateUser() {
                this.$store.commit('setLoading', true)
                api.post('users/edit', {
                    id: this.userTemp.id,
                    balance_ps4: this.userTemp.balance_ps4,
                    balance_ps4_c: this.userTemp.balance_ps4_c,
                    balance_xbox: this.userTemp.balance_xbox,
                    balance_xbox_c: this.userTemp.balance_xbox_c,
                    comment_ps4: this.userTemp.comment_ps4,
                    comment_ps4_c: this.userTemp.comment_ps4_c,
                    comment_xbox: this.userTemp.comment_xbox,
                    comment_xbox_c: this.userTemp.comment_xbox_c,
                }).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });

                    this.$store.commit('setLoading', false)
                    if (response.data.status === 'success'){
                        this.getUsers()
                        this.dialogUserVisible = false
                    }

                })
            },
            getUsers() {
                this.loadingUsers = true
                api.post('users', {
                    take: this.pagination.pageSize,
                    skip: this.pagination.pageSize * (this.pagination.currentPage - 1),
                    with_referrals: this.filter.with_referrals,
                    email: this.filter.email,
                    country_id: this.filter.country_id,
                }).then(response => {
                    this.users = response.data.users
                    this.pagination.total = response.data.total
                    this.filter.countries = response.data.countries
                    this.loadingUsers = false
                })
            },
            handleSizePageChange(val){
                this.pagination.pageSize = val
                this.getUsers()
            },
            handlePageChange(val){
                this.pagination.currentPage = val
                this.getUsers()
            },
            resetFilter(){
                this.filter.with_referrals = false
                this.filter.email = ''
                this.filter.country_id = ''
                this.getUsers()
            },
            getCategories() {
                api.post('platforms').then(response => {
                    this.categories = response.data
                })
            },
            getBalanceHistory(tab){
                if (tab.name === "info" || tab.name === "referrals"){
                    return false
                }
                this.loadingBalance = true
                api.post('users/getBalanceHistory', {
                    user_id: this.userTemp.id,
                    platform_id: this.categories.filter(ob => { return ob.name === tab.$attrs.category})[0].id,
                    type: tab.$attrs.type,
                    take: 100
                })
                    .then(response => {
                        this.balanceHistory = response.data
                        this.loadingBalance = false
                    })
            }
        },

        created() {
            if (window.innerWidth <= 768)
                this.isMobile = true
        },
        mounted() {
            //ie fix
            if (!window.Number.parseInt) window.Number.parseInt = parseInt
            this.getUsers()
            this.getCategories()
        }
    }
</script>

<style lang="scss" scoped>
    @import '../assets/scss/_variables';

    .table-box {
        overflow: auto;
    }
</style>
