<template>
    <div class="page-table scrollable">

        <el-form ref="settingsForm">
            <el-form-item v-for="s in settings" :key="s.id" :label="s.description" label-width="300px">
                <el-switch
                        v-if="switches.indexOf(s.key) !== -1"
                        v-model="s.value"
                        :value="true"
                        active-color="#13ce66">
                </el-switch>
                <div v-else-if="s.key === 'comfort_executor'">
                    <el-radio
                            v-for="option in radio.filter((i) => {return i.name === 'comfort_executor'})[0].values"
                            :key="option"
                            v-model="s.value"
                            :label="option"
                            @change="save(s)">{{ option }}
                    </el-radio>
                </div>
                <el-input v-else v-model="s.value" auto-complete="off" :name="s.key"></el-input>

            </el-form-item>
        </el-form>
        <el-button class="flex" style="margin-left: auto;" type="primary" @click="save">Confirm</el-button>
    </div>
</template>

<script>
    import {api} from '@/api'

    export default {
        name: "Settings",
        props: {
            category: {
                required: true,
                type: Number
            }
        },
        data() {
            return {
                loading: false,
                settings: [],
                switches: [
                    'real_bot',
                    'show_comments_at_mews',
                    'gold_mode_is_enabled',
                    'show_packets_for_user_money',
                    'comfort_enable',
                    'earn_coins_enabled',
                    'earn_coins_bestbeats_first',
                    'trustpilot_review_notif_enable',
                    'send_order_to_whatsgaming_enable',
                    'enable_order_confirmation_email',
                    'active_product_slider_on_buy_coins',
                    'active_product_slider_on_buy_coins_category',
                ],
                radio: [
                    {
                        name: 'comfort_executor',
                        values: ['manual', 'supplier', 'bot']
                    }
                ]
            }
        },
        methods: {

            save() {
                let data = {}
                for (let s in this.settings) {
                    data[this.settings[s].key] = this.settings[s].value
                }

                api.post('settings/save', data).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });
                    if (response.data.status === 'success') {
                        this.getSettings()
                        this.dialogVisible = false
                    }

                })
            },
            getSettings() {
                this.loading = true
                api.post('settings', {category: this.category}).then(response => {
                    this.settings = response.data
                    this.loading = false
                })
            },
        },
        mounted() {
            this.getSettings()
        }
    }
</script>

<style scoped>

</style>
