<template>
    <div class="page-table scrollable">
        <el-table :data="languages" max-height="600" style="width: 100%" v-loading="loading">
            <el-table-column
                    label="Image"
                    width="100">
                <template slot-scope="scope">
                    <img :src="scope.row.imgUrl" style="width: 100%;">
                </template>
            </el-table-column>
            <el-table-column
                    prop="locale"
                    label="Locale"
                    sortable
                    width="180"></el-table-column>
            <el-table-column
                    prop="name"
                    label="Name"
                    sortable
                    width="180"></el-table-column>
            <el-table-column
                    prop="order"
                    label="Order"
                    sortable
                    width="180"></el-table-column>
            <el-table-column
                    label="Enabled"
                    sortable
                    minWidth="120">
                <template slot-scope="scope">
                    <i v-if="scope.row.enabled" class="mdi mdi-check"></i>
                </template>
            </el-table-column>
            <el-table-column
                    label="Actions"
                    width="100">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            @click="handleEdit(scope.row)">Edit
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-button class="mt-20" type="primary" icon="el-icon-plus" @click="handleCreate">Add Language</el-button>

        <!-- Form -->
        <el-dialog title="edit" :visible.sync="dialogVisible">
            <el-form :model="language">
                <el-form-item label="Locale" :label-width="'120px'">
                    <el-select v-model="language.locale" clearable filterable>
                        <el-option key="en" label="English" value="en"></el-option>
                        <el-option key="de" label="German" value="de"></el-option>
                        <el-option key="fr" label="French" value="fr"></el-option>
                        <el-option key="fa" label="Persian" value="fa"></el-option>
                        <el-option key="es" label="Espanish" value="es"></el-option>
                        <el-option key="it" label="Italian" value="it"></el-option>
                        <el-option key="sa" label="Arabic" value="sa"></el-option>
                        <el-option key="cn" label="Chinese" value="cn"></el-option>
                        <el-option key="jp" label="Japanese" value="jp"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Name" :label-width="'120px'">
                    <el-input v-model="language.name" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="Enabled" :label-width="'120px'">
                    <el-switch
                            v-model="language.enabled"
                            active-color="#13ce66">
                    </el-switch>
                </el-form-item>
                <el-form-item label="Order" :label-width="'120px'">
                    <el-input v-model="language.order" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="save">Confirm</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
    import {api} from '@/api'
    export default {
        name: "Languages",
        data(){
            return {
                loading: false,
                languages: [],
                language: {},
                dialogVisible: false,
            }
        },
        methods: {
            handleCreate() {
                this.action = 'create'
                this.dialogVisible = true
            },
            handleEdit(language) {
                this.language = language
                if (this.language.enabled) {
                    this.language.enabled = true
                }
                else{
                    this.language.enabled = false
                }
                this.dialogVisible = true
            },

            save() {
                api.post('languages/save', this.language).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });
                    if (response.data.status === 'success')
                        this.dialogVisible = false
                    this.getLanguages()
                })
            },
            getLanguages() {
                this.loading = true
                api.post('languages').then(response => {
                    this.languages = response.data
                    this.loading = false
                })
            },
        },
        mounted() {
            this.getLanguages()
        }
    }
</script>

<style scoped>

</style>
