<template>
    <div class="page-table scrollable">
        <div class="mb-20">
            <el-input
                    class="mb-20"
                    placeholder="Filter keyword"
                    clearable
                    v-model="filterText">
            </el-input>
            <el-tree
                    class="filter-tree"
                    :data="treeData"
                    :props="props"
                    accordion
                    @node-click="handleNodeClick"
                    :filter-node-method="filterNode"
                    ref="tree">
            </el-tree>
        </div>

        <el-row :gutter="5">
            <el-col :xs="24" :md="4"><p>Phrase name</p></el-col>
            <el-col v-for="lang in languages"
                    :key="lang.id"
                    :xs="24"
                    :md="3">
                <p><i :class="'flag-icon mr-5 flag-icon-'+(lang.locale === 'en' ? 'us' : lang.locale)"></i>
                    {{lang.name}}</p>
            </el-col>
        </el-row>

        <div class="group-translation mb-30" v-for="(group, key) in filterTranslations">
            <div class="text-divider mb-20">{{key}}</div>
            <el-row v-for="(trans, transKey) in group" :key="trans.i" :gutter="5">
                <el-col :xs="24" :md="4"><p>{{ trans.i }}</p></el-col>
                <el-col v-for="lang in languages"
                        :key="lang.id"
                        :xs="24"
                        :md="3">
                    <el-input
                            readonly
                            v-model="filterTranslations[key][transKey]['l'][lang.locale]"
                            auto-complete="off"
                            @focus="handleFocus(trans.i, filterTranslations[key][transKey]['l'], key, transKey)">
                    </el-input>
                </el-col>
                <el-button class="mt-20" type="danger" icon="el-icon-delete" size="mini"
                           @click="handleDelete(trans.i)"></el-button>
            </el-row>
            <el-button class="mt-20" type="primary" icon="el-icon-plus" @click="handleCreate(key)">New</el-button>
        </div>

        <!-- Form -->
        <el-dialog title="Edit" :visible.sync="dialogVisible">
            <el-form label-position="top" :model="translation">
                <el-form-item id="tgroup" label="New Group" :label-width="'120px'">
                    <el-input v-model="translation.group" auto-complete="off"
                              placeholder="Only when you want create new group fill it"></el-input>
                </el-form-item>
                <el-form-item label="Name" :label-width="'120px'">
                    <el-input v-model="translation.name" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item v-for="lang in languages"
                              :label="lang.name"
                              :label-width="'120px'">
                    <textarea name="ck" :id="'ck-' + lang.locale" value="" rows="3"></textarea>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">Close</el-button>
                <el-button type="primary" @click="saveTranslate()">Save</el-button>
            </span>
        </el-dialog>

    </div>
</template>

<script>
    import {api} from '@/api'

    export default {
        name: "Translations",
        data() {
            return {
                filterText: '',
                treeData: [],
                translation: {},
                translations: {},
                languages: [],
                props: {
                    children: 'c',
                    label: 'l',
                    id: 'id'
                },
                groups: [],
                dialogVisible: false,
                translateItem: {
                    name: '',
                    key: '',
                    transKey: '',
                },
                umlats: {
                    '&auml;': 'ä',
                    '&uuml;': 'ü',
                    '&ouml;': 'ö',
                    '&Ouml;': 'Ö',
                    '&Auml;': 'Ä',
                    '&Uuml;': 'Ü',
                }
            }
        },
        computed: {
            filterTranslations() {
                if (this.subGroupSelected) {
                    return {[this.groups[1]]: this.translations[this.groups[0]][this.groups[1]]}
                }
                return this.translations[this.groups[0]]
            },
            subGroupSelected() {
                if (this.groups.length === 2) {
                    return true
                }
                return false
            },
            curGroup() {
                return this.groups[0];
            }
        },
        watch: {
            filterText(val) {
                this.$refs.tree.filter(val);
            }
        },

        methods: {
            initCKE(langs) {
                CKEDITOR.config.height = 100
                CKEDITOR.config.autoParagraph = false;
                CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR;
                CKEDITOR.config.shiftEnterMode = CKEDITOR.ENTER_BR;

                this.languages.forEach(k => {
                    if (CKEDITOR.instances['ck-' + k.locale]) {
                        CKEDITOR.instances['ck-' + k.locale].destroy()
                    }
                    CKEDITOR.replace('ck-' + k.locale)
                    CKEDITOR.instances['ck-' + k.locale].setData(langs[k.locale])
                });
            },
            filterNode(value, data) {
                if (!value) return true;
                return data.l.indexOf(value) !== -1;
            },
            handleNodeClick(data) {
                this.groups = data.id.split('.')
            },
            getTranslations() {
                this.loading = true
                api.post('languages/translations').then(response => {
                    this.translations = response.data.translations
                    this.treeData = Object.values(response.data.tree)
                    this.groups = this.treeData[0].id.split('.')
                    this.loading = false
                })
            },
            getLanguages() {
                this.loading = true
                api.post('languages/getEnabled').then(response => {
                    this.languages = response.data
                    this.loading = false
                })
            },
            saveTranslate() {
                let $this = this
                let group = ''
                if (this.translation.group != '' && this.translation.group != undefined)
                    group = this.translation.group
                else
                    group = this.curGroup
                let languages = {};
                this.languages.forEach(k => {
                    languages[k.locale] = CKEDITOR.instances['ck-' + k.locale].getData()
                });
                let data = {
                    isNew: this.isNew,
                    group: group,
                    item: this.translation.name,
                    languages
                }
                api.post('languages/translations/save', data).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });
                    if (response.data.status === 'success') {
                        this.dialogVisible = false
                        this.translations[this.curGroup][this.translateItem.key][this.translateItem.transKey]['l']['en'] = languages.en
                        this.translations[this.curGroup][this.translateItem.key][this.translateItem.transKey]['l']['de'] = languages.de
                        this.getTranslations()
                        this.getLanguages()
                    }
                })
            },
            handleCreate(key) {
                this.isNew = true;
                this.translation = {
                    name: '',
                };
                let out = [];
                this.languages.forEach(k => {
                    out[k.locale] = '';
                });
                this.action = 'create'
                this.translateItem.name = ''
                this.translateItem.key = key
                this.translateItem.transKey = this.translations[this.groups[0]][key].length
                this.dialogVisible = true
                this.$nextTick(function () {
                    this.initCKE(out)
                })
            },
            handleFocus(item, langs, key, transKey) {
                this.isNew = false;
                let out = [];
                this.languages.forEach(k => {
                    if (langs[k.locale])
                        out[k.locale] = langs[k.locale];
                    else
                        out[k.locale] = '';
                });
                this.translation = {
                    name: item,
                };
                this.action = 'edit'
                this.translateItem.name = item
                this.translateItem.key = key
                this.translateItem.transKey = transKey
                this.dialogVisible = true
                this.$nextTick(function () {
                    this.initCKE(out)
                })
            },
            handleDelete(item) {
                this.$confirm('This will permanently delete. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning',
                    center: true
                }).then(() => {
                    this.delete(item)
                })
            },

            delete(item) {
                let data = {
                    group: this.curGroup,
                    item: item
                }
                api.post('languages/translations/delete', data).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });
                    if (response.data.status === 'success') {
                        this.getTranslations()
                        this.getLanguages()
                    }
                })
            },
        },
        mounted() {
            this.getTranslations()
            this.getLanguages()
        }
    }
</script>

<style scoped lang="sass">

</style>
