//@import '_variables';
/*
	complete variables list in: node_modules/element-ui/packages/theme-chalk/src/common/var.scss
*/

/* theme color */
$--color-primary: $text-color-accent !default;
$--color-success: $text-color-success !default;
$--color-warning: $text-color-warning !default;
$--color-danger : $text-color-danger !default;
$--color-info   : $text-color-info !default;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
@import "~element-ui/packages/theme-chalk/src/display";

.el-form--label-top .el-form-item__label {
	padding: 0;
	line-height: 30px;
}
.el-upload.el-upload--text {
	max-width: 100%; 

	.el-upload-dragger {
		max-width: 100%;
	}
}
.el-message {
	min-width: 310px;
}
.el-notification {
	width: 290px;
}
.el-message-box {
	max-width: 95%;
	box-sizing: border-box;
}

.el-menu--horizontal {
	min-height: 35px;
	
	&.limit-height {
		max-height: 60%;
		overflow-x: hidden;
		overflow-y: auto;
	}

	&[x-placement="top-start"],
	&[x-placement="top-start"] .el-menu--horizontal,
	&[x-placement="top-start"] .el-menu--horizontal > .el-menu--popup {
		position: fixed !important;
		bottom: 45px !important;
		top: initial !important;
		transform: none !important;
	}

}
.el-menu--vertical {
	&.limit-height {
		max-height: 90%;
		overflow-x: hidden;
		overflow-y: auto;
	}

	&[x-placement="left-start"] {
		position: fixed !important;
		right: 75px !important;
		left: initial !important;
		transform: none !important;
		
		.el-menu--vertical {
			position: fixed !important;
			right: 280px !important;
			left: initial !important;
			transform: none !important;
		
			.el-menu--vertical > .el-menu--popup {
				position: fixed !important;
				right: 485px !important;
				left: initial !important;
				transform: none !important;
			}
		}
	}
}

.el-popper {
	max-height: 90%;
	overflow-x: hidden;
	overflow-y: auto;
}
.el-popover.el-popper {
	background: $background-color;
	border-color: lighten($background-color, 5%);

	&[x-placement^="top"] .popper__arrow {
		border-top-color: lighten($background-color, 5%);
	}
	&[x-placement^="top"] .popper__arrow::after {
		border-top-color: $background-color;
	}
	&[x-placement^="bottom"] .popper__arrow {
		border-bottom-color: lighten($background-color, 5%); 
	}
	&[x-placement^="bottom"] .popper__arrow::after {
		border-bottom-color: $background-color; 
	}  
	&[x-placement^="right"] .popper__arrow {
		border-right-color: lighten($background-color, 5%);
	}
	&[x-placement^="right"] .popper__arrow::after {
		border-right-color: $background-color;
	}
	&[x-placement^="left"] .popper__arrow {
		border-left-color: lighten($background-color, 5%); 
	}
	&[x-placement^="left"] .popper__arrow::after {
		border-left-color: $background-color; 
	}
}

.el-tooltip__popper.is-light {
	color: #000;
}

.el-progress .el-progress__text {
	color: $text-color;
}

.el-checkbox .el-checkbox__label {
	color: $text-color;
}

.el-tabs:not(.el-tabs--border-card) {
	.el-tabs__item:not(.is-active) {
		color: $text-color;
	}
}

.el-dialog {
	min-width: 310px;
}

.el-table .success-row {
    background: #f0f9eb;
}
