@import '_variables';
@import '_mixins';
@import 'element-variables';
@import 'card-shadow';
@import 'helpers';
@import 'typography';
@import 'color-schemes';
@import 'float-label';
@import 'vuebar';
@import 'perfect-scrollbar';
@import 'tables';
@import 'vue-good-table';
@import 'v2-table';
@import 'fullcalendar';
@import '../fonts/Nunito-Sans.css';

html, body {
	font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.4;

	height: 100%;
	//height: 100vh;
	width: 100%;
	//width: 100vw;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	position: fixed;

	background: darken($background-color, 30%);
	color: $text-color;
}

[v-cloak] {
    display: none !important;
}

::selection {
	background-color: $text-color-accent;
	color: #fff;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: transparentize($text-color, .5);
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: transparentize($text-color, .5);
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: transparentize($text-color, .5);
}

.page-header {
	margin-bottom: 45px;

	h1 {
		margin: 0;
		@include text-bordered-shadow();
	}

	h4 {
		margin: 0;
		margin-top: 10px;
		opacity: .5;
	}

	.el-breadcrumb {
		margin-top: 10px;
		line-height: 1.3;

		.el-breadcrumb__inner, .el-breadcrumb__inner a {
			color: $text-color;
		}
		.el-breadcrumb__separator {
			color: transparentize($text-color, 0.7);
		}
		.el-breadcrumb__item:last-child .el-breadcrumb__inner, 
		.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover, 
		.el-breadcrumb__item:last-child .el-breadcrumb__inner a, 
		.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover {
			color: transparentize($text-color, 0.4);
		}
	}

	&.card-base {
		padding: 24px;
	}
	&.header-accent {
		background: $text-color-accent !important;
	}
	&.header-primary {
		background: $text-color !important;
	}
	&.header-accent, &.header-primary {
		h1, h4 {
			color: white;
			text-shadow: none;
		}

		.el-breadcrumb {	
			.el-breadcrumb__inner, .el-breadcrumb__inner a {
				color: white;
			}
			.el-breadcrumb__separator {
				color: transparentize(white, 0.7);
			}
			.el-breadcrumb__item:last-child .el-breadcrumb__inner, 
			.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover, 
			.el-breadcrumb__item:last-child .el-breadcrumb__inner a, 
			.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover {
				color: transparentize(white, 0.4);
			}
		}
	}
}

//draggable
.flip-list-move {
    transition: transform 0.5s;
}
.no-move {
    transition: transform 0s;
}
.ghost {
    opacity: 0.5;
    background: #c8ebfb;
}
.list-group {
    background-color: #ffffff;
    padding: 0 10px;
}
.list-group-item {
    cursor: move;
    list-style-type: none;
    padding: 2px;
    border-bottom: 1px solid #eee;
}
.list-group-item:last-child {
    border: none;
}

.table-box {
    overflow: auto;
}

.el-table img {
    width: 100%;
}

.el-form-item .el-select {
    width: 100%;
}
.selected{
    background-color: #b4cef7;
}

/*@media (max-width: 768px) {
	.page-header:not(.card-base) {
		padding: 0 10px;
	}
}*/
