<template>
    <div class="page-table scrollable">
        <el-table :data="users" max-height="600" style="width: 100%" v-loading="loading">
            <el-table-column
                    prop="email"
                    label="Email"
                    sortable
                    width="300"
            ></el-table-column>
            <el-table-column
                    prop="registerDate"
                    label="Register date"
                    sortable
                    minWidth="150"></el-table-column>
            <el-table-column
                    prop="main_role.name"
                    label="Role Name"
                    sortable
                    minWidth="150"></el-table-column>
            <el-table-column
                    label="Actions"
                    width="160">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            @click="handleEdit(scope.row)">Edit
                    </el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete(scope.row)">Delete
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-button class="mt-20" type="primary" icon="el-icon-plus" @click="handleCreate">Add user</el-button>

        <!-- Form -->
        <el-dialog v-loading="loading" :title="action === 'edit' ? 'Edit' : 'Create'" :visible.sync="dialogVisible">
            <el-form :model="userTemp">
                <el-form-item label="Email" :label-width="'160px'">
                    <el-input v-model="userTemp.email" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="Role" :label-width="'160px'">
                    <el-select v-model="userTemp.role_id" clearable filterable>
                        <el-option v-for="role in this.roles" :key="role.id" :label="role.name"
                                   :value="role.id"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Password" :label-width="'160px'">
                    <el-input type="password" v-model="userTemp.password" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="Password confirm" :label-width="'160px'">
                    <el-input type="password" v-model="userTemp.password_confirmation" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="saveUser">Confirm</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
    import {api} from '@/api'

    export default {
        name: "Admins",
        data() {
            return {
                loading: false,
                action: 'edit',
                roles: [],
                users: [],
                user: {},
                userTemp: {},
                dialogVisible: false,
            }
        },
        methods: {
            handleCreate() {
                this.userTemp = {}
                this.dialogVisible = true
            },
            handleEdit(user) {
                this.userTemp = _.clone(user)
                this.dialogVisible = true
            },
            handleDelete(user) {
                this.$confirm('This will permanently delete. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning',
                    center: true
                }).then(() => {
                    this.deleteUser(user)
                })
            },

            deleteUser(user) {
                api.post('users/delete', {
                    id: user.id,
                }).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });
                    if (response.data.status === 'success')
                        this.users = this.users.filter(item => item.id !== user.id)
                })
            },
            saveUser() {
                this.$store.commit('setLoading', true)

                for (let prop in this.userTemp) {
                    if (!this.userTemp[prop]) delete this.userTemp[prop]
                }

                api.post('users/saveAdmin', this.userTemp).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });
                    this.$store.commit('setLoading', false)
                    if (response.data.status === 'success') {
                        this.getUsers()
                        this.dialogVisible = false
                    }

                })
            },
            getUsers() {
                this.loading = true
                api.post('users/admins').then(response => {
                    this.users = response.data.users
                    this.loading = false
                })
            },
            getRoles() {
                this.loading = true
                api.post('roles', {take: 500, skip: 0}).then(response => {
                    this.roles = response.data.roles
                    console.log("this is roles");
                    console.log(this.roles)
                    this.loading = false
                })
            },
        },
        mounted() {
            this.getUsers()
            this.getRoles()
        }
    }
</script>

<style scoped>

</style>
