<template>
    <div class="page-table scrollable">
        <el-button style="margin: 10px;"
                   class="mt-10"
                   type="primary"
                   icon="el-icon-plus"
                   @click="handleCreate">Add Currency</el-button>

        <div class="table-box card-base card-shadow--medium">
            <el-table :data="currencies" max-height="500" style="width: 100%" v-loading="loadingCurrencies">
                <el-table-column
                        prop="name"
                        label="Name"
                        sortable
                        width="200"></el-table-column>
                <el-table-column
                        prop="code"
                        label="Code"
                        sortable
                        width="100"></el-table-column>
                <el-table-column
                        prop="symbol"
                        label="Symbol"
                        sortable
                        width="100"></el-table-column>

                <el-table-column
                    prop="format"
                    label="Format"
                    sortable
                    width="150"></el-table-column>

                <el-table-column
                        prop="exchange_rate"
                        label="Exchange Rate"
                        sortable
                        width="150"></el-table-column>

                <el-table-column
                        label="Enabled"
                        sortable
                        minWidth="120">
                    <template slot-scope="scope">
                        <i v-if="scope.row.active" class="mdi mdi-check"></i>
                        <i v-if="!scope.row.active" class="mdi mdi-close"></i>
                    </template>
                </el-table-column>

                <el-table-column
                        label="Actions"
                        width="200"
                        fixed="right">

                    <template slot-scope="scope">
                        <el-button
                                type="primary"
                                size="mini"
                                @click="handleEdit(scope.row)">Edit
                        </el-button>
                        <el-button
                                size="mini"
                                type="danger"
                                @click="handleDelete(scope.row)">Delete
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <div class="block mt-20">
            <el-pagination
                    @size-change="handleSizePageChange"
                    @current-change="handlePageChange"
                    :current-page.sync="pagination.currentPage"
                    :page-sizes="pagination.pageSizes"
                    :page-size="pagination.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="pagination.total">
            </el-pagination>
        </div>

        <!-- Form -->
        <el-dialog v-loading="loadingCurrencies" title="action"
                   :visible.sync="dialogVisible">
            <el-form :model="currency">
                <el-form-item label="Name" :label-width="'120px'">
                    <el-input v-model="currency.name" auto-complete="off"></el-input>
                </el-form-item>

                <el-form-item label="Code" :label-width="'120px'">
                    <el-input v-model="currency.code" auto-complete="off"></el-input>
                </el-form-item>


                <el-form-item label="Symbol" :label-width="'120px'">
                    <el-input v-model="currency.symbol" auto-complete="off"></el-input>
                </el-form-item>


                <el-form-item label="Format" :label-width="'120px'">
                    <el-input v-model="currency.format" auto-complete="off"></el-input>
                </el-form-item>

                <el-form-item label="Exchange Rate" :label-width="'120px'">
                    <el-input v-model="currency.exchange_rate" auto-complete="off"></el-input>
                </el-form-item>

                <el-form-item label="Enabled" :label-width="'120px'">
                    <el-switch
                            v-model="currency.active"
                            active-color="#13ce66">
                    </el-switch>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">Close</el-button>
                <el-button type="primary" @click="save">Confirm</el-button>
            </span>
        </el-dialog>

    </div>
</template>

<script>
    import {api} from '@/api'

    export default {
        name: "Currency",
        data() {
            return {
                action: 'Create',
                currencies: [],
                currency: {},
                loadingCurrencies: false,
                dialogVisible: false,
                pagination: {
                    currentPage: 1,
                    total: null,
                    pageSize: 20,
                    pageSizes: [10, 20, 50, 100],
                },
            }
        },
        computed: {
            loading() {
                return this.$store.getters.loading
            }
        },
        watch: {},
        methods: {
            handleEdit(currency) {
                this.currency = _.clone(currency)

                if (this.currency.active) {
                    this.currency.active = true
                } else {
                    this.currency.active = false
                }

                this.action = 'edit'
                this.dialogVisible = true
            },

            handleCreate() {
                this.currency = {};
                this.action = 'create'
                this.dialogVisible = true
            },

            handleDelete(currency) {
                this.$confirm('This will permanently delete. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning',
                    center: true
                }).then(() => {
                    this.delete(currency)
                })
            },
            delete(currency) {
                api.post('currency/delete', {
                    id: currency.id,
                }).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });

                })
            },
            get() {
                this.loadingCurrencies = true
                api.post('currency', {
                    take: this.pagination.pageSize,
                    skip: this.pagination.pageSize * (this.pagination.currentPage - 1),
                }).then(response => {
                    this.currencies = response.data.currencies
                    this.pagination.total = response.data.total
                    this.loadingCurrencies = false
                })
            },

            save(){
                this.$store.commit('setLoading', true)
                api.post('currency/save', this.currency).then(response => {
                    this.$message({
                        showClose: true,
                        message: response.data.message,
                        type: response.data.status
                    });
                    this.$store.commit('setLoading', false)
                    if (response.data.status === 'success'){
                        this.dialogVisible = false
                        this.get()
                    }
                })
            },

            handleSizePageChange(val) {
                this.pagination.pageSize = val
                this.get()
            },
            handlePageChange(val) {
                this.pagination.currentPage = val
                this.get()
            },
        },

        created() {
            if (window.innerWidth <= 768)
                this.isMobile = true
        },
        mounted() {
            //ie fix
            if (!window.Number.parseInt) window.Number.parseInt = parseInt
            this.get()
        }
    }
</script>
