<template>
    <el-menu
        :default-active.sync="activeLink"
        :mode="mode"
        @select="goto"
        :collapse="isCollapse"
        :unique-opened="true"
        background-color="transparent"
        class="main-navigation-menu"
        :class="{'nav-collapsed':isCollapse}">
        <el-menu-item v-if="user.role === 2" index="/dashboard">
            <i class="mdi mdi-gauge"></i><span slot="title">{{ $t("nav.dashboard") }}</span>
        </el-menu-item>

        <el-submenu v-if="user.role === 2" index="info" popper-class="main-navigation-submenu">

            <template slot="title">
                <i class="mdi mdi-information"></i><span>{{ $t("nav.info.info") }}</span>
            </template>

            <el-menu-item index="/info/players">
                <span slot="title">{{ $t("nav.info.players") }}</span>
            </el-menu-item>

            <el-menu-item index="/info/packets">
                <span slot="title">{{ $t("nav.info.packets") }}</span>
            </el-menu-item>

            <el-menu-item index="/info/categories">
                <span slot="title">{{ $t("nav.info.categories") }}</span>
            </el-menu-item>

            <el-menu-item index="/info/tickets">
                <span slot="title">{{ $t("nav.info.tickets") }}</span>
            </el-menu-item>

            <el-menu-item index="/info/pages">
                <span slot="title">{{ $t("nav.info.pages") }}</span>
            </el-menu-item>

            <el-menu-item index="/info/questions">
                <span slot="title">{{ $t("nav.info.questions") }}</span>
            </el-menu-item>

        </el-submenu>

        <el-menu-item v-if="user.role === 2" index="/analytics">
            <i class="mdi mdi-google-analytics"></i><span slot="title">{{ $t("nav.analytics") }}</span>
        </el-menu-item>

        <el-menu-item v-if="user.role === 2" index="/customers">
            <i class="mdi mdi mdi-account-multiple"></i><span slot="title">{{ $t("nav.customers") }}</span>
        </el-menu-item>

        <el-menu-item v-if="user.role === 2" index="/guests">
            <i class="mdi mdi mdi-account-multiple"></i><span slot="title">{{ $t("nav.guests") }}</span>
        </el-menu-item>

        <el-menu-item v-if="user.role === 2" index="/orders">
            <i class="mdi mdi-cash-multiple"></i><span slot="title">{{ $t("nav.orders") }}</span>
        </el-menu-item>

        <el-menu-item v-if="user.role === 2" index="/discounts">
            <i class="mdi mdi-cash-multiple"></i><span slot="title">{{ $t("nav.discounts") }}</span>
        </el-menu-item>

        <el-menu-item v-if="user.role === 2" index="/transfers">
            <i class="mdi mdi-transfer"></i><span slot="title">{{ $t("nav.transfers") }}</span>
        </el-menu-item>

        <el-submenu index="comfort" popper-class="main-navigation-submenu">
            <template slot="title">
                <i class="mdi mdi-transfer"></i><span>{{ $t("nav.comfort.comfort") }}</span>
            </template>
            <el-menu-item index="/comfort/transfers/created">
                <span slot="title">{{ $t("nav.comfort.transfers") }}</span>
            </el-menu-item>
            <el-menu-item index="/comfort/transfers/work">
                <span slot="title">{{ $t("nav.comfort.accept_transfers") }}</span>
            </el-menu-item>
            <el-menu-item index="/comfort/transfers/bought">
                <span slot="title">{{ $t("nav.comfort.bought_transfers") }}</span>
            </el-menu-item>
            <el-menu-item index="/comfort/transfers/canceled">
                <span slot="title">{{ $t("nav.comfort.canceled_transfers") }}</span>
            </el-menu-item>
            <el-menu-item index="/comfort/transfers/archive">
                <span slot="title">{{ $t("nav.comfort.archive_transfers") }}</span>
            </el-menu-item>
        </el-submenu>

        <el-submenu index="manual" popper-class="main-navigation-submenu">
            <template slot="title">
                <i class="mdi mdi-transfer"></i><span>{{ $t("nav.manual.manual") }}</span>
            </template>
            <el-menu-item index="/manual-transfers/open">
                <span slot="title">{{ $t("nav.manual.open") }}</span>
            </el-menu-item>
            <el-menu-item index="/manual-transfers/accepted">
                <span slot="title">{{ $t("nav.manual.accepted") }}</span>
            </el-menu-item>
            <el-menu-item index="/manual-transfers/bought">
                <span slot="title">{{ $t("nav.manual.bought") }}</span>
            </el-menu-item>
            <el-menu-item index="/manual-transfers/canceled">
                <span slot="title">{{ $t("nav.manual.canceled") }}</span>
            </el-menu-item>

        </el-submenu>

        <el-submenu v-if="user.role === 2" index="languages" popper-class="main-navigation-submenu">
            <template slot="title">
                <i class="mdi mdi-translate"></i><span>{{ $t("nav.languages") }}</span>
            </template>
            <el-menu-item index="/languages">
                <span slot="title">{{ $t("nav.languages") }}</span>
            </el-menu-item>
            <el-menu-item index="/translations">
                <span slot="title">{{ $t("nav.translations") }}</span>
            </el-menu-item>
        </el-submenu>

        <el-menu-item v-if="user.role === 2" index="/news">
            <i class="mdi mdi-forum"></i><span slot="title">{{ $t("nav.news") }}</span>
        </el-menu-item>

        <el-menu-item v-if="user.role === 2" index="/feedback">
            <i class="mdi mdi mdi-message-alert"></i><span slot="title">{{ $t("nav.feedback") }}</span>
        </el-menu-item>

        <el-menu-item v-if="user.role === 2" index="/reports">
            <i class="mdi mdi mdi-message-alert"></i><span slot="title">{{ $t("nav.reports") }}</span>
        </el-menu-item>

        <el-submenu v-if="user.role === 2" index="definitions" popper-class="main-navigation-submenu">
            <template slot="title">
                <i class="mdi mdi-message-text"></i><span>{{ $t("nav.definitions.definitions") }}</span>
            </template>
            <el-menu-item index="/definitions/socials">
                <span slot="title">{{ $t("nav.definitions.socials") }}</span>
            </el-menu-item>
            <el-menu-item index="/definitions/excellences">
                <span slot="title">{{ $t("nav.definitions.excellences") }}</span>
            </el-menu-item>
            <el-menu-item index="/definitions/advantages">
                <span slot="title">{{ $t("nav.definitions.advantages") }}</span>
            </el-menu-item>
            <el-menu-item index="/definitions/sales_list">
                <span slot="title">{{ $t("nav.definitions.sales_list") }}</span>
            </el-menu-item>
            <el-menu-item index="/definitions/navigations_groups">
                <span slot="title">{{ $t("nav.definitions.navigations_groups") }}</span>
            </el-menu-item>
            <el-menu-item index="/definitions/navigations">
                <span slot="title">{{ $t("nav.definitions.navigations") }}</span>
            </el-menu-item>
        </el-submenu>

        <el-submenu v-if="user.role === 2" index="settings" popper-class="main-navigation-submenu">
            <template slot="title">
                <i class="mdi mdi-settings"></i><span>{{ $t("nav.settings.settings") }}</span>
            </template>
            <el-menu-item index="/settings/common">
                <span slot="title">{{ $t("nav.settings.common") }}</span>
            </el-menu-item>
            <el-menu-item index="/settings/comfort">
                <span slot="title">{{ $t("nav.settings.comfort") }}</span>
            </el-menu-item>
            <el-menu-item index="/settings/buy">
                <span slot="title">{{ $t("nav.settings.buy") }}</span>
            </el-menu-item>
            <el-menu-item index="/settings/users">
                <span slot="title">{{ $t("nav.settings.users") }}</span>
            </el-menu-item>
            <el-menu-item index="/settings/suppliers">
                <span slot="title">{{ $t("nav.settings.suppliers") }}</span>
            </el-menu-item>
            <el-menu-item index="/settings/payments">
                <span slot="title">{{ $t("nav.settings.payments") }}</span>
            </el-menu-item>
        </el-submenu>

        <el-menu-item v-if="user.role === 2" index="/messages">
            <i class="mdi mdi-message"></i><span slot="title">{{ $t("nav.messages") }}</span>
        </el-menu-item>

        <el-menu-item v-if="user.role === 2" index="/codes">
            <i class="mdi mdi-barcode"></i><span slot="title">{{ $t("nav.codes") }}</span>
        </el-menu-item>

        <el-menu-item v-if="user.role === 2" index="/discount_codes">
            <i class="mdi mdi-barcode"></i><span slot="title">{{ $t("nav.discount_codes") }}</span>
        </el-menu-item>

        <el-menu-item v-if="user.role === 2" index="/video">
            <i class="mdi mdi-video"></i><span slot="title">{{ $t("nav.video") }}</span>
        </el-menu-item>

        <el-menu-item v-if="user.role === 2" index="/upload">
            <i class="mdi mdi-video"></i><span slot="title">{{ $t("nav.upload") }}</span>
        </el-menu-item>

        <el-submenu v-if="user.role === 2" index="/earn-coins" popper-class="main-navigation-submenu">
            <template slot="title">
                <i class="mdi mdi-settings"></i><span>{{ $t("nav.ea.title") }}</span>
            </template>
            <el-menu-item index="/earn-coins/accounts">
                <span slot="title">{{ $t("nav.ea.accounts") }}</span>
            </el-menu-item>
            <el-menu-item index="/earn-coins/ref-links">
                <span slot="title">{{ $t("nav.ea.ref_links") }}</span>
            </el-menu-item>
            <el-menu-item index="/earn-coins/coins">
                <span slot="title">{{ $t("nav.ea.coins") }}</span>
            </el-menu-item>
        </el-submenu>

        <!--<el-menu-item index="/botTest">
            <i class="mdi mdi-transfer"></i><span slot="title">{{ $t("botTest") }}</span>
        </el-menu-item>-->
    </el-menu>
</template>


<script>
    import { detect } from 'detect-browser'
    const browser = detect()

    export default {
        name: 'Nav2',
        props: ['mode', 'isCollapse'],
        data() {
            return {
                isIe: true,
                isEdge: true,
                activeLink: null
            }
        },

        computed: {
            user () {
                return this.$store.getters.user
            },

        },

        methods: {
            goto(index, indexPath) {
                if(index.charAt(0) === '/') {
                    this.$router.push(index)
                    this.$emit('push-page', {page:index})
                }

            },
            setLink(path) {
                this.activeLink = path
            }
        },
        created() {
            if(browser.name !== 'ie') this.isIe = false
            if(browser.name !== 'edge') this.isEdge = false

            this.setLink(this.$router.currentRoute.path)
            this.$router.afterEach((to, from) => {
                this.setLink(this.$router.currentRoute.path)
                //console.log('afterEach', to, from)
            })
            //console.log('this.$router.currentRoute.path', this.$router.currentRoute.path)
        },
        mounted() {
            //console.log('nav component mounted')
        }
    }
</script>

<style lang="scss" scoped>
    @import '../assets/scss/_variables';

    .el-menu {
        border: none;
    }
    .el-menu::before, .el-menu::after {
        display: none;
    }
    .el-submenu, .el-menu-item {
        .mdi {
            vertical-align: middle;
            margin-right: 5px;
            display: inline-block;
            width: 24px;
            text-align: center;
            font-size: 18px;
        }
    }
</style>

<style lang="scss">
    @import '../assets/scss/_variables';

    .main-navigation-menu {
        transition: width .5s;

        &:not(.el-menu--collapse) {
            .el-submenu__title, .el-menu-item {
                height: 40px;
                line-height: 40px;
                background-color: transparent !important;
            }

            &:not(.el-menu--horizontal) {
                .el-menu-item, .el-submenu {
                    position: relative;

                    &::before {
                        content: '';
                        display: block;
                        width: 0px;
                        height: 1px;
                        position: absolute;
                        bottom: 10px;
                        left: 30px;
                        background: $text-color;
                        z-index: 1;
                        opacity: 0;
                        transition: all .7s cubic-bezier(.55,0,.1,1);
                    }
                    &:hover {
                        &::before {
                            width: 100px;
                            opacity: 1;
                            //left: 50px;
                            transform: translate(20px, 0);
                        }
                    }

                    &.is-active {
                        &::before {
                            background: $text-color-accent;
                        }
                    }
                }
            }

            .el-submenu.is-opened {
                //background: #edf1f6 !important;
                //background: rgba(223, 228, 234, 0.38) !important;
                position: relative;

                &::after {
                    content: '';
                    display: block;
                    width: 2px;
                    position: absolute;
                    top: 40px;
                    bottom: 10px;
                    left: 31px;
                    background: $text-color;
                    z-index: 1;
                }

                &::before {
                    display: none;
                }

                .el-menu-item, .el-submenu {
                    &::before, &::after {
                        display: none;
                    }
                }
            }

            .el-menu-item-group__title {
                padding: 15px 0 0px 20px;
                color: transparentize($text-color, 0.65);
            }
        }

        .el-submenu__title, .el-menu-item:not(.is-active) {
            color: $text-color;

            i {
                color: $text-color;
            }
        }

        &.el-menu--collapse {
            .el-menu-item-group__title {
                padding: 15px 0 0px 0px;
                width: 100%;
                text-align: center;
            }

            .el-submenu__title:hover, .el-menu-item:hover {
                background-color: rgba(0, 0, 0, 0.05) !important;
            }
        }

        &.el-menu--horizontal {
            white-space: nowrap;
            /*width: fit-content;
            width: max-content;*/
            overflow: hidden;
            display: table;

            & > * {
                float: inherit !important;
                display: inline-block;
            }
        }

        &.nav-collapsed {
            .el-menu-item,.el-submenu__title {
                & > span {
                    display: none;
                }
            }
        }
    }

    .main-navigation-submenu {
        .el-menu {
            background: #fff !important;

            .el-menu-item:not(.is-active) {
                color: $text-color;
            }
            .el-menu-item:hover {
                background-color: transparentize($background-color, 0.3) !important;
            }
        }
    }
</style>
